@font-face {
    font-family: 'Commissioner-Black';
    src: url("Commissioner-Black.ttf");
}

@font-face {
    font-family: 'Commissioner-Bold';
    src: url("Commissioner-Bold.ttf");
}

@font-face {
    font-family: 'Commissioner-ExtraBold';
    src: url("Commissioner-ExtraBold.ttf");
}

@font-face {
    font-family: 'Commissioner-ExtraLight';
    src: url("");
}

@font-face {
    font-family: 'Commissioner-Light';
    src: url("");
}

@font-face {
    font-family: 'Commissioner-Medium';
    src: url("Commissioner-Medium.ttf");
}

@font-face {
    font-family: 'Commissioner-Regular';
    src: url("Commissioner-Regular.ttf");
}

@font-face {
    font-family: 'Commissioner-SemiBold';
    src: url("Commissioner-SemiBold.ttf");
}

@font-face {
    font-family: 'Commissioner-Thin';
    src: url("");
}

@font-face {
    font-family: 'Gotham Pro';
    src: url("");
    src: local('Gotham Pro'), local('GothamPro'),
        url("GothamPro.eot") format('embedded-opentype'),
        url("GothamPro.woff") format('woff'),
        url("GothamPro.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url("");
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
        url("GothamPro-Bold.eot") format('embedded-opentype'),
        url("GothamPro-Bold.woff") format('woff'),
        url("GothamPro-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url("");
    src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
        url("GothamPro-BoldItalic.eot") format('embedded-opentype'),
        url("GothamPro-BoldItalic.woff") format('woff'),
        url("GothamPro-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

html,
body {
    margin: auto;
    padding: 0;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    font-size: 18px;
    color: #000;
    line-height: normal;
    font-family: 'Commissioner-Regular';
    overflow-x: hidden;
}

body {
    padding-bottom: 255px;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    line-height: normal;
    font-family: 'Commissioner-Bold';
    margin: 30px 0 40px;
}

a {
    text-decoration: none;
}

strong {
    font-family: 'Commissioner-Bold';
}

.wrap {
    width: 1200px;
    margin: auto;
}

.mob-prev {
    display: none;
}

.btn-more, .btn_more {
    font-size: 15px;
    color: #000;
    border: 1px solid #e4e4e4;
    background-color: initial;
    padding: 10px 35px;
    outline: none;
    cursor: pointer;
    font-family: 'Commissioner-Medium';
    display: block;
    margin: 32px auto 80px;
    transition: .3s;
}

.btn-more:hover, .btn_more:hover {
    border-color: #47d8d3;
}
.s-message{display:none}
/** --------------------- BREADCRUMBS start ---------------------**/
.breadcrumbs {
    margin: 30px 0;
}

.breadcrumbs ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.breadcrumbs ul li {
    list-style: none;
    color: #9a9a9a;
    font-size: 12px;
}

.breadcrumbs ul li:not(:last-of-type) {
    margin-right: 14px;
}

.breadcrumbs ul li a {
    color: #9a9a9a;
    font-size: 12px;
    transition: color .3s;
}

.breadcrumbs ul li a:hover {
    color: #47d8d3;
}

.breadcrumbs.black li {
    color: #000;
}

.breadcrumbs.black li a {
    color: #000;
}

.breadcrumbs.black li a:hover {
    color: #fff;
}

.breadcrumbs.gray li {
    color: #9a9a9a;
}

.breadcrumbs.gray li a {
    color: #9a9a9a;
}

.breadcrumbs.white li {
    color: #fff;
}

.breadcrumbs.white li a {
    color: #fff;
}

.nav {
    position: relative;
}
.ym-advanced-informer {
    display: none;
}

/** --------------------- BREADCRUMBS end ---------------------**/

/** --------------------- CALLBACK FORM start ---------------------**/
.form_cb {
    background-color: #f5f5f5;
    padding: 110px 0 150px;
}

.form_cb .title {
    font-size: 35px;
    line-height: 55px;
    font-family: 'Commissioner-Bold';
    display: block;
    margin: 0 auto 30px;
    text-align: center;
}

.form_cb form,
.contact form {
    width: 350px;
    margin: auto;
}

.form_cb form .title,
.contact form .title {
    font-size: 25px;
    font-family: 'Commissioner-Bold';
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.form_cb form .form-group,
.contact form .form-group {
    position: relative;
    margin-bottom: 15px;
}

.form_cb form .form-group .controls input,
.contact form .form-group .controls input {
    width: 100%;
    border: 1px solid #e4e8ea;
    background-color: initial;
    padding: 9px 10px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Commissioner-Regular';
}

.form_cb form .form-group .controls input:focus,
.contact form .form-group .controls input:focus {
    border-color: #000;
}

.form_cb form .form-group .controls select {
    width: 100%;
    border: 1px solid #e4e8ea;
    background-color: initial;
    padding: 9px 10px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Commissioner-Regular';
}

.form_cb form .form-group .controls input.error,
.contact form .form-group .controls input.error {
    border: 1px solid #47d8d3;
}
.form_cb form .form-group .controls select.error ~ .jq-selectbox__select,
.contact form .form-group .controls select.error ~ .jq-selectbox__select{
    border-color: #47d8d3;
}

.form_cb form .form-group .controls span,
.contact form .form-group .controls span{
    display: none;
}
span#file-name{
    display: initial;
}

.form_cb form .form-group .controls span.error,
.contact form .form-group .controls span.error {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 13px;
    font-family: 'Commissioner-Bold';
    color: #47d8d3;
    width: calc(100% - 20px);
    display: block;
}

.form_cb form .form-group .control-label,
.contact form .form-group .control-label {
    font-size: 13px;
    font-family: 'Commissioner-Bold';
    display: block;
    margin: 0 0 4px 0;
}

.form_cb form button,
.contact form button {
    width: 100%;
    background-color: #47d8d3;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    font-family: 'Commissioner-Bold';
    padding: 14px 0;
    margin: 7px 0 13px;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.form_cb form button:hover,
.contact form button:hover {
    background-color: rgb(71 216 211 / 50%);
}

.form_cb form .policy,
.contact form .policy {
    font-size: 13px;
    margin: 0;
}

.form_cb form .policy a,
.contact form .policy a {
    text-decoration: underline;
    transition: .3s;
    color: #000;
}

.form_cb form .policy a:hover,
.contact form .policy a:hover {
    text-decoration: none;
}

.form_cb form .form-group .controls input[type="file"] {
    display: none;
}

.form_cb form .form-group .controls .file-upload span {
    font-size: 15px;
    position: relative;
    cursor: pointer;
    transition: color .3s;
}

.form_cb form .form-group .controls .file-upload span:hover {
    color: #47d8d3;
}

.form_cb form .form-group .controls .file-upload span:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 6px 1px;
    background-repeat: repeat-x;
    transition: background-image .3s;
}

.form_cb form .form-group .controls .file-upload span:hover:after {
    background-image: linear-gradient(to right, #47d8d3 33%, rgba(255, 255, 255, 0) 0%);
}

.form_cb form .form-group .controls textarea,
.contact form .form-group .controls textarea {
    width: 100%;
    height: 74px;
    border: 1px solid #e4e8ea;
    background-color: initial;
    padding: 9px 10px;
    outline: none;
    box-sizing: border-box;
    resize: none;
    font-family: 'Commissioner-Regular';
}

.form_cb form .form-group .controls textarea:focus,
.contact form .form-group .controls textarea:focus {
    border-color: #000;
}

/** --------------------- CALLBACK FORM end ---------------------**/

/** --------------------- COMMON ELEMENTS MODAL start ---------------------**/
.modal {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #47d8d3;
    z-index: 5;
    padding: 80px 0 130px;
    transition: top .5s;
}

.modal.opened {
    top: 0 !important;
}

.modal .wrap {
    position: relative;
}

.modal .wrap .close {
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 0;
    top: -55px;
    transition: .5s;
}

.modal .wrap .close:hover {
    transform: rotate(180deg);
}

.modal .wrap .close span {
    display: block;
    width: 30px;
    height: 1px;
    background-color: #000;
    position: relative;
    top: 14px;
    transition: .3s;
}

.modal .wrap .close span:first-of-type {
    transform: rotate(45deg);
}

.modal .wrap .close span:last-of-type {
    transform: rotate(135deg);
    position: relative;
    top: 13px;
}

.modal form {
    width: 350px;
    margin: auto;
}

.modal form .title {
    font-size: 25px;
    font-family: 'Commissioner-Bold';
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.modal form .form-group {
    position: relative;
    margin-bottom: 15px;
}

.modal form .form-group .controls input {
    width: 100%;
    border: 1px solid #0ea49f;
    background-color: initial;
    padding: 9px 10px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Commissioner-Regular';
}

.modal form .form-group .controls input:focus,
.lk .data .pass form .form-group .controls input:focus {
    border-color: #000;
}

.modal form .form-group .controls input.error,
.lk .data .pass form .form-group .controls input.error {
    border: 1px solid #88fffb;
}

.modal form .form-group .controls span,
.lk .data .pass form .form-group .controls span{
    display: none;
}

.modal form .form-group .controls span.error,
.lk .data .pass form .form-group .controls span.error {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 13px;
    font-family: 'Commissioner-Bold';
    color: #88fffb;
    width: calc(100% - 20px);
    display: block;
}

.modal form .form-group .control-label {
    font-size: 13px;
    font-family: 'Commissioner-Bold';
    display: block;
    margin: 0 0 4px 0;
}

.modal form button {
    width: 100%;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    font-family: 'Commissioner-Bold';
    padding: 14px 0;
    margin: 7px 0 13px;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.modal form button:hover {
    background-color: rgb(255 255 255 / 50%);
}

.modal form .policy {
    font-size: 13px;
    text-align: center;
    margin: 0;
    color: #00706c;
}

.modal form .policy a {
    color: #00706c;
    text-decoration: underline;
    transition: .3s;
}

.modal form .policy a:hover {
    text-decoration: none;
}

/** --------------------- COMMON ELEMENTS MODAL end ---------------------**/


/** --------------------- FILTER  start ---------------------**/
.filters {
    margin-bottom: 14px;
}

.filters fieldset {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0 18px 0 -6px;
    border: 0;
    width: calc(100% + 12px);
}

.filters fieldset:not(:last-of-type) {
    padding-bottom: 18px;
}

.filters fieldset label input {
    display: none;
}

.filters fieldset label span {
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    font-size: 14px;
    display: block;
    padding: 6px 30px;
    margin: 0 6px 12px;
    cursor: pointer;
    transition: .3s;
    border-radius: 1px;
    position: relative;
}

.filters fieldset label span:hover {
    border-color: #47d8d3;
}

.filters fieldset label input:checked+span {
    background-color: #47d8d3;
    border-color: #47d8d3;
}

.filters fieldset label input:checked+span::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 15px;
    display: block;
    width: 8px;
    height: 9px;
    background: url("") center center / cover no-repeat;
}

.filters .close,
.filters .join {
    display: none;
}

/** --------------------- FILTER  end ---------------------**/


/** --------------------- PIECE OF CALLBACK MODAL  start ---------------------**/
.callback form .form-group .controls textarea {
    width: 100%;
    height: 74px;
    border: 1px solid #0ea49f;
    background-color: initial;
    padding: 9px 10px;
    outline: none;
    box-sizing: border-box;
    resize: none;
    font-family: 'Commissioner-Regular';
}

.callback form .form-group .controls textarea:focus {
    border-color: #000;
}

.callback form .form-group .controls.radio,
.form_cb form .form-group .controls.radio {
    display: flex;
    justify-content: space-between;
}

.callback form .form-group .controls.radio label,
.form_cb form .form-group .controls.radio label {
    font-size: 13px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.callback form .form-group .controls.radio input,
.form_cb form .form-group .controls.radio input {
    display: none;
}

.callback form .form-group .controls.radio label:before,
.form_cb form .form-group .controls.radio label:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    position: absolute;
    left: 0;
    bottom: -3px;
    border: 1px solid #0ea49f;
    border-radius: 50%;
}

.form_cb form .form-group .controls.radio label:before {
    border: 1px solid #e5e9ea;
}

/* Checked */
.callback form .form-group .controls.radio .group input[type=radio]:checked+label:before,
.form_cb form .form-group .controls.radio .group input[type=radio]:checked+label:before {
    width: 19px;
    height: 19px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
}

.callback form .form-group .controls.radio .group input[type=radio]:checked+label:after,
.form_cb form .form-group .controls.radio .group input[type=radio]:checked+label:after {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    left: 6px;
    bottom: 3px;
    background-color: #000;
    border-radius: 50%;
}

/** --------------------- PIECE OF CALLBACK MODAL end ---------------------**/

/** --------------------- PIECE OF AUTHORIZATION MODAL start ---------------------**/
.auth form .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth form .group .forgot {
    color: #00706c;
    font-size: 13px;
    text-decoration: underline;
    margin-bottom: 6px;
}

.auth form button {
    width: calc(50% - 6px);
}

/** --------------------- PIECE OF AUTHORIZATION MODAL end ---------------------**/

/** --------------------- INPUT SELECT start ---------------------**/
.jq-selectbox,
.jq-select-multiple {
    position: relative;
    display: inline-block;
}

.jq-selectbox select,
.jq-select-multiple select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.jq-selectbox li,
.jq-select-multiple li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.jq-selectbox {
    z-index: 10;
}

.jq-selectbox__select {
    position: relative;
}

.jq-selectbox__select-text {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jq-selectbox__dropdown {
    position: absolute;
}

.jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
}

.jq-selectbox__select {
    width: 100%;
    border: 1px solid #e4e8ea;
    font-family: 'Commissioner-Regular';
    padding: 9px 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.jq-selectbox__select:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 35px;
    background: url("") center center / auto no-repeat;
    z-index: 1;
}

.opened .jq-selectbox__select:after {
    transform: rotate(180deg);
}

.jq-selectbox.disabled .jq-selectbox__select {
    border-color: #CCC;
    background: #F5F5F5;
    box-shadow: none;
    color: #888;
}

.jq-selectbox__select-text {
    display: block;
    width: 100%;
    min-height: 17px;
}

.jq-selectbox .placeholder {
    color: #888;
}

.jq-selectbox__trigger {
    display: none
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border-top: 5px solid #999;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
    border-top-color: #000;
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
    border-top-color: #AAA;
}

.jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: -37px 0 0;
    padding: 0;
    border: 1px solid #000000;
    background: #fbfbfb;
    font-size: 13px;
    font-family: 'Commissioner-Medium';
    color: #000;
}

.jq-selectbox ul {
    margin: 0;
    padding: 10px 0;
}

.jq-selectbox li {
    min-height: 18px;
    padding: 3px 20px;
    line-height: 20px;
    list-style: none;
    font-family: 'Commissioner-Medium';
    position: relative;
    width: max-content;
    transition: color .3s;
}

.jq-selectbox li:hover {
    color: #47d8d3;
}

/** --------------------- INPUT SELECT end ---------------------**/

/** --------------------- CONTENT start ---------------------**/
.content {
    width: 860px;
    margin: auto;
    padding: 40px 0 25px;
}

.content h2 {
    font-size: 20px;
    font-family: 'Commissioner-Bold';
}

.content h3 {
    font-size: 17px;
    font-family: 'Commissioner-Bold';
}

.content h2,
.content h3 {
    margin: 0 0 25px 0;
}

.content p,
.description p {
    font-size: 17px;
    line-height: 25px;
    margin: 0 0 25px 0;
}

.content p a,
.description p a {
    color: #47d8d3;
    transition: .3s;
}

.content p a:hover,
.description p a:hover {
    color: #000;
}

.content p iframe {
    border: 0;
    max-width: 1200px;
    transform: translate(-50%, 0);
    margin: 75px 0 65px 50%;
}

.content p:last-of-type iframe {
    margin-bottom: 35px;
}

.content p img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1200px;
    padding: 20px 0 25px;
}

.content .fl {
    width: 1200px;
    margin: 0 0 25px 50%;
    display: flex;
    transform: translate(-50%, 0);
    justify-content: space-between;
    align-items: center;
}

.content .fl.fl-r .img{
    order: 1;
}
.content .fl .img {
    width: 43%;
}

.content .fl .img img {
    width: 100%;
    height: auto;
}

.content .fl .text {
    width: 43%
}

.content .fl .text p {
    font-size: 16px;
}

.content .fl .text p:last-of-type {
    margin-bottom: 0;
}

.content ol li,
.content ul li {
    font-size: 17px;
    line-height: 25px;
}

.content ol,
.description ol {
    counter-reset: myCounter;
    margin: 0 0 25px 0;
    padding: 0;
}

.content ol li,
.description ol li {
    list-style: none;
}

.content ol li:before,
.description ol li:before {
    counter-increment: myCounter;
    content: counter(myCounter)'.';
    display: inline-block;
    text-align: left;
    margin-right: 8px;
    font-family: 'Commissioner-Bold';
}

.content ul,
.description ul {
    margin: 0 0 25px 0;
    padding: 0 0 0 18px;
}

.content p.footnotes {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1200px;
    background-color: #47d8d3;
    padding: 45px 230px;
    font-size: 25px;
    line-height: 35px;
    font-family: 'Commissioner-Bold';
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    margin: 50px 0;
}

.content .slider {
    width: 1200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 50px 0;
}

.content .slider img {
    width: 100%;
}

/** --------------------- CONTENT end ---------------------**/

/** --------------------- CONTENT V2 start ---------------------**/
.content-v2 {
    margin-bottom: 90px;
}

.content-v2 h3 {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
}

.content-v2 p {
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    min-height: 25px;
}

.content-v2 p strong {
    font-family: 'Commissioner-Bold';
}

/** --------------------- CONTENT V2 end ---------------------**/

/** --------------------- BLOCKS WITH BG start ---------------------**/
.b-with-bg {
    background-color: #47d8d3;
    padding: 50px 0 65px;
}

.b-with-bg .title {
    font-size: 25px;
    font-family: 'Commissioner-Bold';
    display: block;
    margin: 0 0 48px;
}

.b-with-bg .blocks {
    display: flex;
    justify-content: space-between;
}

.b-with-bg .blocks .block {
    width: calc(20% - 22px);
    box-sizing: border-box;
    border: 1px solid #3feee8;
    padding: 20px 25px;
    transition: .3s;
}

.b-with-bg .blocks .block:hover {
    border-color: #fff;
}

.b-with-bg .blocks .block .number {
    font-size: 18px;
    color: #fff;
    font-family: 'Commissioner-Bold';
    display: block;
}

.b-with-bg .blocks .block .title {
    font-size: 18px;
    line-height: 24px;
    margin: 5px 0 12px;
}

.b-with-bg .blocks .block p {
    margin: 0;
    font-size: 14px;
}

/** --------------------- BLOCKS WITH BG end ---------------------**/

/** --------------------- FIRST IMG end ---------------------**/
.first-img {
    padding: 1px 0 110px;
    position: relative;
    color: #fff;
    text-align: center;
}

.first-img img {
    max-width: 401px;
}

.first-img .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.first-img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .45;
    width: 100%;
    height: 100%;
}

.first-img .wrap {
    position: relative;
    z-index: 1;
}

.first-img .bg.mobil,
.first-img .bg.table {
    display: none;
}

/** --------------------- FIRST IMG end ---------------------**/

/** --------------------- HEADER start ---------------------**/
header .top {
    background-color: #000;
    position: relative;
    z-index: 1;
}

header.index .top {
    background-color: initial;
}

header .top .wrapper {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
}

header .top .wrapper .mob-map,
header .top .wrapper .mob-menu {
    display: none;
}

header .top .wrapper a {
    color: #fff;
    font-family: 'Commissioner-Bold';
}

header .top .wrapper .logo a {
    display: block;
    font-size: 25px;
    letter-spacing: 1px;
    transition: color .3s;
}

header .top .wrapper .logo a:hover {
    color: #47d8d3;
}

header .top .wrapper .about-link {
    margin: 0 133px 0 74px;
}

header .top .wrapper .about-link a {
    font-size: 16px;
    transition: color .3s;
}

header .top .wrapper .about-link a::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 8px;
    vertical-align: middle;
    margin-left: 14px;
    background: url("arrow-header.svg") center center / cover no-repeat;
    transition: .3s;
}

header .top .wrapper .about-link:hover>a {
    color: #47d8d3;
}

header .top .wrapper .about-link:hover>.child {
    display: block;
}

header .top .wrapper .about-link:hover>a::after {
    transform: rotate(90deg);
    background: url("arrow-header-h.svg") center center / cover no-repeat;
}

header.index .top .wrapper .about-link .child {
    box-shadow: 0 -19px 14px 2px #000;
}

header .top .wrapper .about-link .child:after {
    content: '';
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;
    height: 23px;
}

header .top .wrapper .about-link .child {
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    padding: 0 0;
    box-sizing: border-box;
    background-color: #000;
}

header .top .wrapper .about-link .child .wrap {
    padding: 0;
    display: flex;
}

header .top .wrapper .about-link .child .wrap li {
    list-style: none;
}

header .top .wrapper .about-link .child .wrap li:not(:last-of-type) {
    margin-right: 80px;
}

header .top .wrapper .about-link .child .wrap li a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Commissioner-Medium';
    padding: 26px 0;
    display: block;
    transition: .3s;
}

header .top .wrapper .about-link .child .wrap li a:hover {
    color: #47d8d3;
}

header .top .wrapper .about-link .child a::after {
    width: 0;
    height: 0;
}

header .top .wrapper .phone a {
    font-family: 'Commissioner-SemiBold';
    font-size: 18px;
    transition: color .3s;
}

header .top .wrapper .phone a:hover {
    color: #47d8d3;
}

header .top .wrapper .call {
    position: relative;
}

header .top .wrapper .call a {
    font-size: 15px;
    font-family: 'Commissioner-Regular';
    color: #d0d0d0;
    border: 1px solid #404040;
    padding: 10px 21px;
    transition: color .3s, border .3s;
    display: block;
}

header .top .wrapper .call a:hover {
    color: #fff;
    border: 1px solid #fff;
}

header .top .wrapper .inst a {
    display: block;
    width: 17px;
    height: 17px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("inst.svg");
    transition: background-image .3s;
}

header .top .wrapper .inst a:hover {
    background-image: url("inst-h.svg");
}

header .top .wrapper .lk-link a {
    font-size: 13px;
    text-decoration: underline;
    transition: color .3s;
}

header .top .wrapper .lk-link a img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

header .top .wrapper .lk-link a:hover {
    color: #47d8d3;
}

header .top .wrapper .basket a {
    position: relative;
    display: block;
    width: 23px;
    height: 23px;
    background-image: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image .3s;
}

header .top .wrapper .basket a:hover {
    background-image: url("");
}

header .top .wrapper .basket a .count {
    position: absolute;
    top: -12px;
    left: -16px;
    width: 22px;
    height: 22px;
    font-size: 11px;
    color: #000;
    font-family: 'Commissioner-Black';
    text-align: center;
    padding: 4px 0;
    box-sizing: border-box;
    z-index: 2;
}

header .top .wrapper .basket a .count span.ms2_total_count {
    background-color: #47d8d3;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    display: block;
    border-radius: 50%;
    padding: 4px 0;
}

header .top .wrapper .basket a .count::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #000;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    top: 8px;
    left: 0;
}

header.index {
    position: relative;
}

header.index:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    box-shadow: inset 0px 69px 27px 0px #000;
}

header .main-menu {
    background-color: #fff;
    border-bottom: 1px solid #e4e8ea;
    position: relative;
}

header.index .main-menu {
    border-bottom: none;
}

header .main-menu ul {
    margin: auto;
    width: 1200px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.index .main-menu ul {
    padding: 26px 0;
}

header .main-menu ul li .child {
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 6px 12px 0px rgb(0 0 0 / 29%);
    z-index: 3;
    display: none;
}

header.index .main-menu ul li .child {
    top: 101px;
    box-shadow: 0px 7px 8px 0px rgb(0 0 0 / 29%);
}

header .main-menu ul li .child:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: -1px;
    left: 0;
}

header .main-menu ul li.parent:hover>.child {
    display: block;
}

header .main-menu ul li .child ul {
    justify-content: flex-start;
}

header .main-menu ul li .child ul li:not(:last-of-type) {
    margin-right: 80px;
}

header .main-menu ul li .child ul li a {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Commissioner-Medium';
}

header .main-menu ul li .child ul li a:hover:before {
    height: 0;
}

header .main-menu ul li .child ul li a.active {
    color: #47d8d3;
}

header .main-menu ul li .child ul li a.active:before {
    height: 0;
}

header .main-menu ul li {
    list-style: none;
}

header .main-menu ul li a {
    font-size: 19px;
    font-family: 'Commissioner-Bold';
    color: #000;
    transition: color .3s;
    position: relative;
    padding: 26px 0;
    display: block;
}

header .main-menu ul li a:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #47d8d3;
    opacity: 0;
    transition: opacity .3s;
}

header .main-menu ul li:hover>a {
    color: #47d8d3;
}

header .main-menu ul li.active>a {
    color: #47d8d3;
}

header .main-menu ul li.active>a:before,
header .main-menu ul li:hover>a:before {
    opacity: 1;
}

header .main-menu ul .parent a:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 8px;
    vertical-align: middle;
    margin-left: 14px;
    background: url("arrow-header-b.svg") center center / cover no-repeat;
    transition: .3s;
}

header .main-menu ul .parent.active a:after {
    background: url("arrow-header-h.svg") center center / cover no-repeat;
}

header .main-menu ul .parent:hover>a:after {
    transform: rotate(90deg);
    background: url("arrow-header-h.svg") center center / cover no-repeat;
}

header .main-menu ul .parent ul li a:after {
    height: 0;
}

header .navigation {
    position: fixed;
    right: 50px;
    top: 80px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

header.index .main-menu ul li a:hover:before {
    opacity: 0;
}

header .navigation.opened {
    visibility: visible;
    opacity: 1;
}

header .navigation a {
    display: block;
    margin: 15px auto 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .3s;
}

header .navigation .burger {
    cursor: pointer;
    margin-bottom: 40px;
}

header .navigation .burger span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #000;
    transition: .3s;
}

header .navigation .burger:hover span {
    background-color: #3feee8;
}

header .navigation .burger span:not(:last-of-type) {
    margin-bottom: 5px;
}

header .navigation .phone {
    width: 19px;
    height: 20px;
    background-image: url("phone.svg");
}

header .navigation .phone:hover {
    background-image: url("phone-h.svg");
}

header .navigation .inst {
    width: 17px;
    height: 17px;
    background-image: url("inst-b.svg");
}

header .navigation .inst:hover {
    background-image: url("inst-h.svg");
}

header .navigation .arrow {
    width: 18px;
    height: 14px;
    background-image: url("arrow-navig.svg");
}

header .navigation .arrow:hover {
    background-image: url("arrow-navig-h.svg");
}

/**header .navigation .burger.opened span:first-of-type{
    transform: rotate(45deg);
}
header .navigation .burger.opened span:last-of-type{
    transform: rotate(135deg);
    position: relative;
    top: -6px;
}
header .navigation .burger.opened span:nth-of-type(2){
    display: none;
}**/

header .slide_menu {
    position: fixed;
    right: -325px;
    top: 0;
    background-color: #f5f5f5;
    height: 100%;
    padding: 95px 40px 0;
    box-sizing: border-box;
    width: 325px;
    z-index: 15;
    transition: right .5s;
}

header .slide_menu.opened {
    right: 0px;
}

header .slide_menu .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: initial;
    position: absolute;
    right: 37px;
    top: 95px;
}

header .slide_menu .top a {
    font-size: 17px;
    font-family: 'Commissioner-Bold';
    transition: color .3s;
    color: #000;
}

header .slide_menu .top a::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 8px;
    vertical-align: middle;
    margin-left: 14px;
    background: url("arrow-header-b.svg") center center / cover no-repeat;
    transition: .3s;
}

header .slide_menu .top a:hover {
    color: #47d8d3;
}

header .slide_menu .top a:hover::after {
    transform: rotate(90deg);
    background: url("arrow-header-h.svg") center center / cover no-repeat;
}

header .slide_menu .top .close {
    cursor: pointer;
    height: 40px;
}

header .slide_menu .top .close span {
    display: block;
    width: 30px;
    height: 1px;
    background-color: #000;
    position: relative;
    top: 23px;
    transition: .3s;
}

header .slide_menu .top .close:hover span {
    background-color: #47d8d3;
}

header .slide_menu .top .close span:first-of-type {
    transform: rotate(45deg);
}

header .slide_menu .top .close span:last-of-type {
    transform: rotate(135deg);
    position: relative;
    top: 22px;
}

header .slide_menu ul {
    margin: 0;
    padding: 0;
}

header .slide_menu ul li {
    list-style: none;
}

header .slide_menu ul li a {
    color: #000;
    font-size: 17px;
    font-family: 'Commissioner-Bold';
    line-height: 48px;
    transition: color .3s;
}

header .slide_menu ul li .active {
    color: #47d8d3;
}

header .slide_menu .add {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
}

header .slide_menu .add a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .3s;
}

header .slide_menu .add .phone {
    width: 19px;
    height: 20px;
    background-image: url("phone.svg");
}

header .slide_menu .add .phone:hover {
    background-image: url("phone-h.svg");
}

header .slide_menu .add .inst {
    width: 17px;
    height: 17px;
    background-image: url("inst-b.svg");
}

header .slide_menu .add .inst:hover {
    background-image: url("inst-h.svg");
}

header .slide_menu .add .arrow {
    width: 18px;
    height: 14px;
    background-image: url("arrow-navig.svg");
}

header .slide_menu .add .arrow:hover {
    background-image: url("arrow-navig-h.svg");
}

header .slide_menu ul li ul {
    margin: 0 0 0;
    background-color: #eeeeee;
    position: relative;
    width: calc(100% + 80px);
    left: -40px;
    padding: 25px 40px;
    box-sizing: border-box;
    display: none;
}

header .slide_menu ul .parent a:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 8px;
    vertical-align: middle;
    margin-left: 14px;
    background: url("arrow-header-b.svg") center center / cover no-repeat;
    transition: .3s;
}

header .slide_menu ul .parent.active a:after {
    background: url("arrow-header-h.svg") center center / cover no-repeat;
}

@media (min-width: 1200px) {
    header .slide_menu ul .parent:hover>a:after {
        transform: rotate(90deg);
        background: url("arrow-header-h.svg") center center / cover no-repeat;
    }

    header .slide_menu ul li:hover>a {
        color: #47d8d3;
    }
}

header .slide_menu ul li ul li a {
    font-size: 15px;
    line-height: 30px;
    font-family: 'Commissioner-Medium';
}

header .slide_menu ul .parent ul li a:after {
    height: 0;
}

header .lk-menu {
    border-bottom: 1px solid #e4e8ea;
    box-sizing: border-box;
    padding: 0 0 0;
}

header .lk-menu ul {
    width: 1200px;
    margin: 0 auto;
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .lk-menu ul li {
    list-style: none;
}

header .lk-menu ul li a {
    text-transform: uppercase;
    font-family: 'Commissioner-Medium';
    color: #000;
    font-size: 14px;
    transition: color .3s;
}

header .lk-menu ul li a:hover,
header .lk-menu ul li a.active {
    color: #47d8d3;
}

header .lk-menu ul li.logout a{
    display: flex;
    align-items: center;
    text-transform: none;
}

header .lk-menu ul li.logout a:after{
    content: '';
    width: 18px;
    height: 14px;
    background-image: url("arrow-navig.svg");
    margin-left: 10px;
    transition: .3s;
}

header .lk-menu ul li.logout a:hover:after{
    background-image: url("arrow-navig-h.svg");
}

header .card-menu {
    border-bottom: 1px solid #e4e8ea;
}

header .card-menu ul {
    padding: 24px 0;
    display: flex;
}

header .card-menu ul li {
    list-style: none;
}

header .card-menu ul li:not(:last-of-type) {
    margin-right: 80px;
}

header .card-menu ul li a {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    transition: color .3s;
    font-family: 'Commissioner-Medium';
}

header .card-menu ul li a:hover {
    color: #47d8d3;
}

.mob-button,
header .lk-menu .close {
    display: none;
}

/** --------------------- HEADER end ---------------------**/

/** --------------------- BANER start ---------------------**/
.baner {
    padding: 183px 0 95px 0;
    margin-top: -74px;
    position: relative;
}

.baner .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.baner .bg.mobil,
.baner .bg.table {
    display: none;
}

.baner.type2 {
    padding-bottom: 130px;
}

.baner .wrap {
    position: relative;
}

.baner p {
    margin: 0;
    font-family: 'Gotham Pro';
}

.baner .time {
    font-size: 30px;
    color: #23d7fe;
    text-transform: uppercase;
}

.baner .title {
    max-width: 650px;
    transform: skew(354deg) rotate(354deg);
    font-weight: bold;
    margin: 35px 0 75px 80px;
}

.baner.type1 .title {
    font-size: 43px;
    color: #d4fc67;
    text-transform: uppercase;
}

.baner.type1 .title:before {
    content: '';
    position: absolute;
    width: 9px;
    height: 79px;
    top: 11px;
    left: -40px;
    background-color: #d4fc67;
    transform: skew(178deg) rotate(-1deg);
}

.baner.type2 .title {
    font-size: 80px;
    color: #de7bff;
}

.baner.type2 .text {
    margin: 28px 0;
}

.baner.type2 .inf {
    position: absolute;
    bottom: -107px;
    left: 0;
}

.baner.type2 .inf p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Gotham Pro';
}

.baner.type2 .inf p strong {
    font-weight: bold;
    font-family: 'Gotham Pro';
}

.baner .text {
    font-size: 33px;
    color: #fff;
}

.baner a {
    display: inline-block;
    border: 1px solid rgb(255 255 255 / 15%);
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    padding: 9px 27px;
    margin-top: 38px;
    transition: .3s;
}

.baner a:hover {
    border-color: #47d8d3;
}

/** --------------------- BANER end ---------------------**/

/** --------------------- SLOGAN start ---------------------**/
.slogan {
    padding: 215px 0;
}

.slogan p {
    font-size: 165px;
    font-family: 'Commissioner-Black';
    text-transform: uppercase;
    color: #e4e8ea;
    margin: 0;
    letter-spacing: 7.5px;
    line-height: 180px;
}

.slogan .mask {
    background-image: url("1-2.jpg");
    background-size: auto;
    background-position: -248px -336px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 161px;
    letter-spacing: 0.5px;
}

/** --------------------- SLOGAN end ---------------------**/

/** --------------------- ADVANTAGES start ---------------------**/
.advantage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.advantage .block {
    height: 800px;
    display: flex;
    width: 100%;
}

.advantage .block .img,
.advantage .block .text {
    width: 50%;
}

.advantage .block .text {
    display: flex;
    align-items: center;
    padding: 0 115px;
    box-sizing: border-box;
    background-color: #fff;
}

.advantage .block .text span {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Commissioner-Bold';
}

.advantage .block .text p {
    line-height: 30px;
    margin: 30px 0 50px;
}

.advantage .block .text a {
    font-size: 15px;
    font-family: 'Commissioner-Medium';
    color: #000;
    border: 1px solid #e4e4e4;
    padding: 10px 25px;
    transition: color .3s, border .3s;
}

.advantage .block .text a:hover {
    border-color: #000;
}

.advantage .block:nth-of-type(2n+2) .text {
    justify-content: flex-end;
}

.advantage .block .img {
    position: relative;
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}

.advantage .block:nth-of-type(2n+2) .img {
    background-position: center left;
}

.advantage .block .img .number {
    position: absolute;
    top: 35px;
    right: 50px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #fff;
    font-family: 'Commissioner-ExtraBold';
    line-height: 25px;
}

.advantage .block .img .number::before {
    content: '';
    width: 74px;
    height: 1px;
    background-color: #fff;
    margin: 5px 30px 0 0;
}

.advantage .block:nth-of-type(2n+2) .img {
    order: 1;
}

.advantage .block:nth-of-type(2n+2) .img .number {
    right: auto;
    left: 50px;
}

.advantage .block .text .group {
    max-width: 400px;
}

/** --------------------- ADVANTAGES end ---------------------**/

/** --------------------- REASONS end ---------------------**/
.reasons .title {
    display: block;
    font-size: 60px;
    text-align: center;
    font-family: 'Commissioner-Black';
    max-width: 150px;
    max-width: 550px;
    margin: 300px auto 280px;
}

.reasons .blocks {
    background-color: #47d8d3;
}

.reasons .blocks .wrapper {
    width: 1200px;
    margin: auto;
    padding: 150px 0;
    display: flex;
    justify-content: space-between;
}

.reasons .blocks .wrapper .block {
    width: calc(20% - 28px);
    border: 1px solid #3feee8;
    box-sizing: border-box;
    padding: 25px 25px 42px;
    position: relative;
    transition: .3s;
}

.reasons .blocks .wrapper .block:hover {
    border-color: #fff;
}

.reasons .blocks .wrapper .block span {
    display: block;
    font-size: 18px;
    font-family: 'Commissioner-Bold';
    color: #fff;
    margin-bottom: 80px;
}

.reasons .blocks .wrapper .block img {
    position: absolute;
    top: 60px;
    left: 25px;
    width: 44px;
}

.reasons .blocks .wrapper .block p {
    display: block;
    font-size: 20px;
    font-family: 'Commissioner-Bold';
    line-height: 30px;
    margin: 0;
}

/** --------------------- REASONS end ---------------------**/

/** --------------------- FOOTER start ---------------------**/
footer {
    padding: 60px 0 35px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer.gray {
    background-color: #f5f5f5;
}

footer .top {
    display: flex;
    justify-content: space-between;
    padding: 0 0 114px;
}

footer .top a {
    font-family: 'Commissioner-Bold';
    color: #000;
}

footer .top .logo a {
    font-size: 20px;
}

footer .top ul {
    display: flex;
    margin: 0;
}

footer .top ul li {
    list-style: none;
}

footer .top ul li:not(:last-of-type) {
    margin-right: 30px;
}

footer .top ul li a {
    font-size: 15px;
    transition: color .3s;
}

footer .top ul li a:hover {
    color: #47d8d3;
}

footer .top .phone a {
    font-size: 17px;
    transition: color .3s;
}

footer .top .phone a:hover {
    color: #47d8d3;
}

footer .top .social a:not(:last-of-type) {
    margin-right: 50px;
}

footer .top .social a {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .3s;
}

footer .top .social .inst {
    width: 17px;
    height: 17px;
    background-image: url("inst-b.svg");
}

footer .top .social .inst:hover {
    background-image: url("inst-h.svg");
}

footer .top .social .vk {
    width: 24px;
    height: 14px;
    background-image: url("vk.svg");
}

footer .top .social .inst:hover {
    background-image: url("inst-h.svg");
}

footer .bottom {
    display: flex;
    align-items: center;
}

footer .bottom a {
    font-size: 13px;
    text-decoration: underline;
    color: #000;
    transition: color .3s;
}

footer .bottom a:hover {
    color: #47d8d3;
}

footer .bottom a:first-of-type{
    margin: 0 380px 0 318px;
}
footer .bottom span a:first-of-type{
    margin: 0;
}

/** --------------------- FOOTER end ---------------------**/

/** --------------------- PAGE 404 end ---------------------**/
.page_404 {
    padding: 120px 0 155px;
    position: relative;
}

.page_404 .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page_404 .bg.table {
    display: none;
}

.page_404 h1 {
    font-size: 200px;
    color: #47d8d3;
    font-family: 'Commissioner-Bold';
    margin: 0;
    line-height: 162px;
}

.page_404 .inf {
    text-align: center;
}

.page_404 .inf .text {
    background-color: #47d8d3;
    max-width: 345px;
    box-sizing: border-box;
    padding: 50px 0 35px;
    text-align: center;
    margin: auto;
}

.page_404 .inf .text span {
    font-size: 30px;
    font-family: 'Commissioner-Bold';
}

.page_404 .inf .text p {
    margin: 28px auto 0;
    font-size: 18px;
    line-height: 27px;
    max-width: 300px;
    max-width: 270px;
}

.page_404 .inf .text a {
    color: #000;
    text-decoration: underline;
}

.page_404 .inf .text a:hover {
    text-decoration: none;
}

/** --------------------- PAGE 404 end ---------------------**/

/** --------------------- PAGE THANKS start ---------------------**/
.thx {
    padding: 215px 0 155px;
}

.thx h1 {
    font-size: 70px;
    line-height: 57px;
    text-transform: uppercase;
}

.thx .inf .text {
    padding: 50px 25px 35px;
}

.page_404 .inf .text p {
    max-width: 290px;
}

/** --------------------- PAGE THANKS end ---------------------**/

/** --------------------- PAGE VACANCY start ---------------------**/
.vacancy .tabs .tabs__content {
    display: none;
    padding: 45px 0 90px;
}

.vacancy .tabs .tabs__content.active {
    display: block;
}

.vacancy .tabs .tabs__caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.vacancy .tabs .tabs__caption li {
    width: calc(50% - 30px);
    list-style: none;
    box-sizing: border-box;
    padding: 28px 0 30px;
    text-align: center;
    font-size: 25px;
    font-family: 'Commissioner-Bold';
    color: #47d8d3;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    text-transform: uppercase;
}

.vacancy .tabs .tabs__caption li.active {
    color: #fff;
    background-color: #47d8d3;
    border: 1px solid #47d8d3;
}

.vacancy .tabs .tabs__content .view-source a {
    color: #000;
    font-size: 20px;
    font-family: 'Commissioner-Bold';
    line-height: 50px;
    position: relative;
}

.vacancy .tabs .tabs__content .view-source a:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -7px;
    left: 0;
    background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 6px 1px;
    background-repeat: repeat-x;
}

.vacancy .tabs .tabs__content .view-source a.opened {
    color: #47d8d3;
}

.vacancy .tabs .tabs__content .view-source a.opened:after {
    height: 0;
}

.vacancy .tabs .tabs__content .view-source .hide {
    display: none;
    padding-bottom: 25px;
}

.vacancy .tabs .tabs__content .view-source .hide span {
    font-family: 'Commissioner-Medium';
    font-size: 20px;
    padding: 6px 19px;
    background-color: #f5f5f5;
    margin: 13px 0 13px;
    display: inline-block;
}

.vacancy .tabs .tabs__content .view-source .hide p {
    font-size: 15px;
    line-height: 25px;
    margin: 0;
}

.vacancy .tabs .tabs__content .view-source .hide p strong {
    font-family: 'Commissioner-Bold';
}

.vacancy .tabs .tabs__content .view-source .hide ul {
    padding: 0 0 0 15px;
    margin: 0;
}

.vacancy .tabs .tabs__content .view-source .hide ul li {
    list-style: none;
    position: relative;
    font-size: 15px;
}

.vacancy .tabs .tabs__content .view-source .hide ul li:before {
    content: '—';
    position: absolute;
    left: -15px;
    top: 0;
    font-family: 'Commissioner-Regular';
    font-size: 15px;
}

/** --------------------- PAGE VACANCY end ---------------------**/

/** --------------------- FOR CORPORATIONS end ---------------------**/
.first_pic {
    padding: 1px 0 84px;
    position: relative;
}

.first_pic .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.first_pic .bg.mobil,
.first_pic .bg.table {
    display: none;
}

.first_pic .breadcrumbs {
    margin-bottom: 70px;
}

.first_pic p {
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    margin: 0;
}

.first_pic p strong {
    font-family: 'Commissioner-Bold';
}

.why {
    padding: 45px 0 70px;
}

.why .title {
    font-size: 20px;
    font-family: 'Commissioner-Bold';
    display: block;
    margin: 0 0 35px;
}

.why .blocks {
    display: flex;
    justify-content: space-between;
}

.why .blocks .block {
    width: calc(25% - 19px);
    box-sizing: border-box;
    padding: 30px 25px;
    border: 1px solid #e4e4e4;
    transition: .3s;
}

.why .blocks .block:hover {
    border-color: #47d8d3;
}

.why .blocks .block span {
    font-size: 17px;
    font-family: 'Commissioner-Bold';
}

.why .blocks .block p {
    font-size: 15px;
    line-height: 20px;
}

.why_corp {
    background-color: #47d8d3;
    padding: 55px 0 70px;
}

.why_corp .title {
    font-size: 25px;
    font-family: 'Commissioner-Bold';
    display: block;
    margin: 0 0 35px;
}

.why_corp .blocks {
    display: flex;
    justify-content: space-between;
}

.why_corp .blocks .block {
    width: calc(100% / 3 - 35px);
    box-sizing: border-box;
    padding: 25px 38px;
    border: 1px solid #3feee8;
    transition: .3s;
}

.why_corp .blocks .block:hover {
    border-color: #fff;
}

.why_corp .blocks .block .number {
    font-size: 18px;
    color: #fff;
    font-family: 'Commissioner-Bold';
}

.why_corp .blocks .block .title {
    font-size: 18px;
    margin: 25px 0 25px;
    line-height: 30px;
}

.why_corp .blocks .block p {
    font-size: 15px;
    line-height: 24px;
    margin: 0;
}

.call_my {
    text-align: center;
    padding: 65px 0;
}

.call_my p {
    font-size: 17px;
    line-height: 35px;
    margin: 0 0 0;
}

.call_my p strong {
    font-family: 'Commissioner-Bold';
}

.call_my p a {
    color: #000;
}

/** --------------------- FOR CORPORATIONS end ---------------------**/

/** --------------------- HALLS start ---------------------**/
.halls .blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.halls .blocks .block {
    width: calc(100% / 3 - 10px);
    height: 390px;
    margin-bottom: 15px;
    position: relative;
}

.halls .blocks .block:hover>p {
    color: #47d8d3;
}

.halls .blocks .block p {
    position: absolute;
    bottom: 45px;
    left: 0;
    color: #fff;
    font-size: 25px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    font-family: 'Commissioner-Bold';
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
    z-index: 1;
    transition: color .3s;
}

.halls .blocks .block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: url("") center center / cover no-repeat;
}

.halls .blocks .block:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity .3s;
}

.halls .blocks .block:hover:before {
    opacity: .5;
}

.halls .blocks .empty {
    width: calc(100% / 3 - 10px);
    height: 0;
}

/** --------------------- HALLS end ---------------------**/

/** --------------------- HALLS DETAIL start ---------------------**/
.halls-detail .mob-nav {
    display: none;
}

.halls-detail,
.t-center {
    position: relative;
}

.halls-detail .nav,
.t-center .nav {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
}

.halls-detail h1,
.t-center h1 {
    color: #fff;
    font-size: 45px;
}

.halls-detail .types .tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 65px;
    position: relative;
}

.halls-detail .types .tables:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -1px;
    width: 1px;
    height: 100%;
    background-color: #e4e4e4;
}

.halls-detail .types span {
    display: block;
    font-family: 'Commissioner-Bold';
    margin: 0 auto 65px;
    text-align: center;
    font-size: 20px;
}

.halls-detail .types .tables p {
    width: calc(50% - 85px);
    text-align: right;
    margin: 0;
    font-size: 15px;
    line-height: 35px;
}

.halls-detail .types .tables p:nth-of-type(2n+2) {
    text-align: left;
}

/** --------------------- HALLS DETAIL end ---------------------**/

/** --------------------- CONTACT PAGE start ---------------------**/
.contact .blocks {
    display: flex;
}

.contact .blocks .inf:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1000%;
    height: 100%;
    background-color: #47d8d3;
    z-index: -1;
}

.contact .blocks .form:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1000%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: -1;
}

.contact .blocks .inf .title {
    text-align: left;
    font-size: 30px;
    margin-top: 105px;
    font-family: 'Commissioner-Bold';
    display: block;
    margin-bottom: 20px;
}

.contact .inf h1 {
    margin-top: 60px;
}

.contact .inf p {
    font-size: 15px;
    margin: 0 0 0;
    min-height: 22px;
}

.contact .inf p a {
    color: #000;
}

.contact .blocks .inf,
.contact .blocks .form {
    width: 50%;
    position: relative;
    padding-bottom: 100px;
}

.contact form .title {
    text-align: left;
    font-size: 30px;
    margin-top: 105px;
}

.contact #map {
    height: 650px;
}

.contact #map .icn_content {
    width: 145px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 5px;
    font-family: 'Commissioner-Regular';
}

/** --------------------- CONTACT PAGE end ---------------------**/

/** --------------------- CONCEPT PAGE start ---------------------**/
.concept .main-img {
    position: relative;
    padding: 1px 0 190px;
}

.concept .main-img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .42;
    width: 100%;
    height: 100%;
}

.concept .main-img .inf {
    position: relative;
    z-index: 1;
    max-width: 860px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 75px;
}

.concept .main-img .inf h1 {
    font-size: 60px;
    color: #fff;
    font-family: 'Commissioner-Bold';
    margin: 0;
}

.concept .slider h3 {
    max-width: 1200px;
    margin: 0 auto 85px;
    font-size: 50px;
    font-family: 'Commissioner-Bold';
    text-align: center;
}

/** --------------------- CONCEPT PAGE end ---------------------**/

/** --------------------- NEWS PAGE start ---------------------**/
.news .news-blocks {
    width: 1230px;
    margin-left: -15px;
}

.news .news-blocks .block {
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    display: block;
    width: 380px;
    margin: 84px 15px 28px;
    padding: 110px 27px 27px 27px;
    color: #000;
    transition: .3s;
}

.news .news-blocks .block:hover {
    border-color: #47d8d3;
}

.news .news-blocks .block .img {
    position: absolute;
    top: -84px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 166px;
    height: 166px;
    border-radius: 50%;
}

.news .news-blocks .block .date {
    position: absolute;
    top: 25px;
    left: 27px;
    color: #c8c8c8;
    font-size: 12px;
}

.news .news-blocks .block .date strong {
    color: #000;
    font-family: 'Commissioner-Bold';
    display: block;
}

.news .news-blocks .block .title {
    font-size: 20px;
    font-family: 'Commissioner-Bold';
    display: block;
    margin-bottom: 11px;
}

.news .news-blocks div.block .title {
    text-align: center;
}

.news .news-blocks .block p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.news .news-blocks .block ul {
    margin: 0;
    padding: 0;
}

.news .news-blocks .block ul li {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Commissioner-Regular';
    list-style: none;
}

.news .news-blocks .block ul li:before {
    content: '—';
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.news .news-blocks .block .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.news .news-blocks .block .tags span {
    display: block;
    font-size: 12px;
    font-family: 'Commissioner-SemiBold';
    background-color: #e4e4e4;
    padding: 6px 15px;
    margin: 5px 5px 0 0;
    border-radius: 1px;
}

/** --------------------- NEWS PAGE end ---------------------**/

/** --------------------- NEWS DETAIL PAGE end ---------------------**/
.news-detail .first-img h1,
.news-detail .first-img p {
    max-width: 820px;
    margin: 0 auto;
}

.news-detail .first-img h1 {
    font-size: 35px;
    line-height: 45px;
    font-family: 'Commissioner-Bold';
    margin: 85px auto 20px;
}

.news-detail .first-img p {
    font-size: 18px;
    line-height: 25px;
    font-family: 'Commissioner-Medium';
}

/** --------------------- NEWS DETAIL PAGE end ---------------------**/

/** --------------------- PROGRAMS PAGE start ---------------------**/
.programs .navig {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
}

.programs .navig a {
    width: 20%;
    font-size: 14px;
    font-family: 'Commissioner-Medium';
    color: #000;
    transition: color .3s;
    line-height: 24px;
}

.programs .navig a:hover {
    color: #47d8d3;
}

.programs .blocks {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.programs .blocks .block {
    height: 800px;
    display: flex;
    width: 100%;
}

.programs .blocks .block .img,
.programs .blocks .block .text {
    width: 50%;
}

.programs .blocks .block .text {
    display: flex;
    align-items: center;
    padding: 0 115px;
    box-sizing: border-box;
    background-color: #fff;
}

.programs .blocks .block .text p {
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0;
}

.programs .blocks .block .text .title {
    font-size: 30px;
    color: #000;
    transition: .3s;
    font-family: 'Commissioner-Bold';
}

.programs .blocks .block .text a.title {
    border-bottom: 1px solid;
}

.programs .blocks .block .text a:hover,
.programs .blocks .block .text .group .child a:hover {
    color: #47d8d3;
    border: none;
}

.programs .blocks .block:nth-of-type(2n+2) .text {
    justify-content: flex-end;
}

.programs .blocks .block .img {
    position: relative;
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}

.programs .blocks .block:nth-of-type(2n+2) .img {
    order: 1;
    background-position: center left;
}

.programs .blocks .block:nth-of-type(2n+2) .img .number {
    right: auto;
    left: 50px;
}

.programs .blocks .block .text .group {
    max-width: 400px;
}

.programs .blocks .block .text .group .child {
    margin: 0;
    padding: 0;
}

.programs .blocks .block .text .group .child a {
    font-size: 20px;
    line-height: 30px;
    color: #000;
    border-bottom: 1px solid;
    font-family: 'Commissioner-Bold';
    transition: .3s;
}

.programs .blocks .block .text .group .child li {
    list-style: none;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.programs .blocks .block .text .group .child li p {
    margin: 8px 0 0;
}

.programs .blocks .block .text .group .child li .icon {
    width: 30px;
}

.programs .blocks .block .text .group .child li .icon img {
    max-width: 100%;
    max-height: 30px;
    margin-top: 5px;
}

.programs .blocks .block .text .group .child li .inf {
    width: calc(100% - 45px);
}

/** --------------------- PROGRAMS PAGE end ---------------------**/

/** --------------------- PROGRAMS DATAIL PAGE start ---------------------**/
.programs-detail .first-img {
    padding: 1px 0 118px;
    position: relative;
}

.programs-detail .first-img {
    color: #fff;
}

.programs-detail .first-img h1 {
    font-size: 35px;
    line-height: 45px;
    font-family: 'Commissioner-Bold';
    padding: 105px 0 20px;
    text-align: left;
}

.programs-detail .main-text .types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.programs-detail .main-text .types .block {
    width: calc(100% / 3 - 23px);
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
    margin-top: 34px;
    padding: 50px 35px;
}

.programs-detail .main-text .types .block:not(:last-of-type):not(:nth-of-type(3n+3)) {
    margin-right: 34px;
}

.programs-detail .main-text .types .block .title {
    font-size: 20px;
    line-height: 25px;
    font-family: 'Commissioner-Bold';
}

.programs-detail .main-text .types .block p {
    font-size: 15px;
    line-height: 25px;
    margin: 30px 0;
}

.programs-detail .main-text .types .block .time {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Commissioner-Semibold';
}

.programs-detail .video p iframe {
    width: 100%;
    height: 740px;
    margin: 30px 0;
}

/** --------------------- PROGRAMS DATAIL PAGE end ---------------------**/

/** --------------------- TRAINING CENTER PAGE end ---------------------**/
.t-center h1 {
    text-align: center;
}

.t-center .certificate {
    padding: 180px 0 160px;
    width: 925px;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-center .certificate .text {
    width: 510px;
}

.t-center .certificate .text p {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 30px;
}

.t-center .certificate .text p:last-of-type {
    margin-bottom: 0;
}

.t-center .certificate .text p strong {
    font-family: 'Commissioner-Bold';
}

.t-center .certificate .img img {
    box-shadow: 0 13px 21px 0px rgb(0 0 0 / 12%);
    max-width: 320px;
}

.t-center .b-with-bg {
    padding: 160px 0 200px;
}

.t-center .b-with-bg .block {
    width: calc(100% / 4 - 30px);
}

.t-center .b-with-bg .block .img {
    height: 50px;
    margin-top: 20px;
}

.t-center .b-with-bg .block .img img {
    max-width: 40px;
    max-height: 40px;
}

.t-center .courses {
    padding: 125px 0 140px;
}

.t-center .courses h3 {
    font-size: 35px;
    line-height: 45px;
    font-family: 'Commissioner-Bold';
    max-width: 515px;
    text-align: center;
    margin: 0 auto 55px;
}

.t-center .courses .blocks {
    display: flex;
    justify-content: space-between;
}

.t-center .courses .blocks .block,
.t-center .courses .blocks .price {
    width: calc(100% / 3 - 10px);
    position: relative;
    overflow: hidden;
}

.t-center .courses .blocks .block:hover>.bg {
    transform: scale(1.1);
}

.t-center .courses .blocks .block .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.t-center .courses .blocks .price {
    border: 1px solid #e4e4e4;
    padding: 45px 0;
    box-sizing: border-box;
    text-align: center;
}

.t-center .courses .blocks .price .title {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Commissioner-Bold';
    display: block;
    transition: .3s;
}

.t-center .courses .blocks .price .cost {
    font-size: 40px;
    line-height: 30px;
    color: #47d8d3;
    font-family: 'Commissioner-Bold';
    display: block;
    margin: 30px 0;
    transition: .3s;
}

.t-center .courses .blocks .price p {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    transition: .3s;
}

.t-center .courses .blocks .price:hover .cost,
.t-center .courses .blocks .price:hover .title,
.t-center .courses .blocks .price:hover p {
    transform: scale(1.1);
}

.t-center .courses .blocks .price p:not(:last-of-type) {
    margin: 0 0 30px;
}

.t-center .courses .blocks .price p strong {
    font-family: 'Commissioner-Bold';
}

.t-center .courses .blocks .block {
    position: relative;
}

.t-center .courses .blocks .block .text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 270px;
    z-index: 1;
}

.t-center .courses .blocks .block .text span {
    display: block;
    font-size: 25px;
    color: #fff;
    font-family: 'Commissioner-Bold';
}

.t-center .courses .blocks .block .text a {
    color: #fff;
    border: 1px solid #34322f;
    font-size: 16px;
    padding: 9px 19px;
    box-sizing: border-box;
    display: inline-block;
    margin: 15px 0 24px;
}

.t-center .courses .blocks .block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: url("") center center / cover no-repeat;
}

.t-center .contact .blocks .inf,
.t-center .contact .blocks .form {
    padding-bottom: 0;
}

.t-center .swiper-slide span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 69px;
    font-family: 'Commissioner-Bold';
    color: #fff;
}

/** --------------------- TRAINING CENTER PAGE end ---------------------**/

/** --------------------- FRANCHISE PAGE start ---------------------**/
.franchise .first-img p {
    font-size: 35px;
    line-height: 45px;
    color: #fff;
    max-width: 710px;
    margin: 15px auto 0;
}

.franchise .first-img p strong {
    font-family: 'Commissioner-Bold';
}

.franchise .why {
    width: 860px;
    margin: 0 auto;
}

.franchise .why .title,
.franchise .why .longtitle {
    text-align: center;
    font-size: 25px;
    font-family: 'Commissioner-Bold';
}

.franchise .why .longtitle {
    margin: -8px 0 47px;
}

.franchise .why .blocks .block {
    width: calc(100% / 2 - 22px);
    text-align: center;
}

.franchise .why .blocks .block img {
    max-height: 34px;
}

.franchise .why_corp .title {
    margin-top: 40px;
}

.franchise .why_corp .blocks {
    flex-wrap: wrap;
}

.franchise .why_corp .blocks .block {
    width: calc(100% / 4 - 30px);
    margin-bottom: 40px;
}

.franchise .why_corp .blocks .block:first-of-type {
    width: calc(100% / 2 - 20px);
}

/** --------------------- FRANCHISE PAGE end ---------------------**/

/** --------------------- BASKET start ---------------------**/
.basket.wrap {
    margin-bottom: 110px;
    margin-top: 45px;
}

.basket .cart {
    display: flex;
    justify-content: space-between;
}

.basket .cart .table {
    width: 685px;
}

.basket .cart .cost {
    width: 465px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    text-align: center;
    padding: 40px 30px;
}

.basket .cart .table .line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    align-items: flex-start;
    padding: 19px 0;
}

.basket .cart .table .line:first-of-type {
    border-top: 1px solid #e4e4e4;
}

.basket .cart .table .line p {
    margin: 0;
}

.basket .cart .table .line .group {
    display: flex;
    flex: 8;
}

.basket .cart .table .line .group .name {
    flex: 5;
}

.basket .cart .table .line .group .option {
    flex: 3;
}

.basket .cart .table .line .price {
    flex: 2;
    text-align: center;
}

.basket .cart .table .line .remove {
    flex: 1;
    text-align: center;
}

.basket .cart .table .line .group .name p {
    padding-right: 20px;
    box-sizing: border-box;
}

.basket .cart .table .line .group .name p,
.basket .cart .table .line .price p {
    font-family: 'Commissioner-Bold';
}

.basket .cart .table .line .remove button {
    background: url("") center center / auto no-repeat;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}

.basket .cart .table .remove-all {
    width: 100%;
    text-align: right;
    margin-top: 15px;
}

.basket .cart .table .remove-all button {
    background: initial;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    padding: 0;
    cursor: pointer;
}

.basket .cart .cost p {
    margin: 0 0 0;
    font-size: 20px;
    font-family: 'Commissioner-SemiBold';
}

.basket .cart .cost .total {
    margin: 15px 0 25px;
}

.basket .cart .cost .total p {
    font-size: 30px;
}

.basket .cart .cost a {
    background-color: #47d8d3;
    color: #000;
    font-size: 18px;
    font-family: 'Commissioner-Bold';
    padding: 13px 39px;
    display: inline-block;
    transition: .3s;
}

.basket .cart .cost a:hover {
    background-color: rgb(71 216 211 / 50%);
}

.basket .alert {
    text-align: center;
    padding: 45px 0 40px;
}

.basket .alert p {
    margin: 0;
}

.basket .alert span {
    display: block;
    font-size: 30px;
    font-family: 'Commissioner-Bold';
    margin: 50px auto 55px;
}

.basket .alert a {
    background-color: #47d8d3;
    color: #000;
    font-size: 18px;
    font-family: 'Commissioner-Bold';
    padding: 13px 39px;
    display: inline-block;
    transition: .3s;
}

.basket .alert a:hover {
    background-color: rgb(71 216 211 / 50%);
}

.basket .order {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.basket .order .payment,
.basket .order .person {
    width: calc(100% / 2 - 15px);
}

.basket .order .payment {
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 40px 182px 30px;
    text-align: center;
}

.basket .order .payment .jq-selectbox__select-text {
    text-align: left;
}

.basket .order .payment p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Commissioner-SemiBold';
    margin: 0;
}

.basket .order .payment p strong {
    display: block;
    font-size: 30px;
}

.basket .order .payment button {
    width: 100%;
    background-color: #47d8d3;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    font-family: 'Commissioner-Bold';
    padding: 14px 0;
    margin: 7px 0 13px;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.basket .order .payment button:hover {
    background-color: rgb(71 216 211 / 50%);
}

.basket .order .payment .form-group {
    margin: 17px 0 10px;
}

.person {
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
    display: flex;
    padding: 24px 22px;
}

.person .left {
    width: 32%;
}

.person .right {
    width: 60%;
}

.person .left img {
    width: 131px;
    height: 131px;
    border-radius: 50%;
}

.person .right .name {
    font-size: 20px;
    font-family: 'Commissioner-SemiBold';
}

.person .right .cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.person .right .cont p {
    font-size: 14px;
    margin: 0;
    line-height: 30px;
    width: 50%;
}

.person .right .cont p:nth-of-type(2n+2) {
    text-align: right;
}

/** --------------------- BASKET end ---------------------**/

/** --------------------- SECTIONS start ---------------------**/
.sections .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0 30px 0 -6px;
    border: 0;
    width: calc(100% + 12px);
}

.sections .filters a {
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    font-size: 14px;
    display: block;
    padding: 6px 30px;
    margin: 0 6px 12px;
    cursor: pointer;
    transition: .3s;
    border-radius: 1px;
    position: relative;
    color: #000;
}

.sections .filters a.current {
    background-color: #47d8d3;
    border-color: #47d8d3;
}

.sections .filters a:hover {
    border-color: #47d8d3;
}

.sections .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 34px 0 40px;
}

.sections .blocks .block {
    width: calc(100% / 4 - 12px);
    border: 1px solid;
    box-sizing: border-box;
    text-align: center;
    padding: 37px 25px 34px;
    transition: .3s;
    margin-bottom: 16px;
}

.sections .blocks .empty {
    width: calc(100% / 4 - 12px);
    height: 0;
}

.sections .blocks .block .title {
    font-size: 18px;
    display: flex;
    font-family: 'Commissioner-Bold';
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    min-height: 44px;
}

.sections .blocks .block p {
    font-size: 15px;
    line-height: 30px;
    margin: 0;
}

.sections .blocks .block .hide {
    display: none;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 295px;
    padding: 12px 20px 23px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 5px 24px 0 rgb(0 0 0 / 14%);
    font-size: 14px;
    line-height: 20px;
    font-family: 'Commissioner-Regular';
    text-align: left;
}

.sections .blocks .block .hide::before,
.sections .blocks .block .hide::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -32px;
    border: 18px solid transparent;
    border-top: 14px solid #fff;
}

.sections .blocks .block .inf {
    font-size: 10px;
    font-family: 'Commissioner-Bold';
    width: 14px;
    height: 14px;
    text-align: center;
    border: 1px solid #e5e9ea;
    border-radius: 50%;
    display: inline-block;
    line-height: 14px;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.sections .blocks .block .inf:hover {
    border-color: #fff;
    color: #fff;
}

.sections .blocks .block .inf:hover .hide {
    display: block;
    color: #000;
}

.sections .blocks .block .buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.sections .blocks .block .buy p {
    font-size: 20px;
    font-family: 'Commissioner-Bold';
    padding-left: 15px;
    line-height: normal;
}

.sections .blocks .block .buy button {
    width: 125px;
    background-color: #47d8d3;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    font-family: 'Commissioner-Bold';
    padding: 6px 0;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.sections .blocks .block .buy button:hover {
    background-color: rgb(71 216 211 / 50%);
}

.sections .blocks .block.color-1 {
    border-color: #7490e0;
}

.sections .blocks .block.color-1:hover {
    background-color: #7490e0;
}

.sections .blocks .block.color-2 {
    border-color: #ffb2b2;
}

.sections .blocks .block.color-2:hover {
    background-color: #ffb2b2;
}

.sections .blocks .block.color-3 {
    border-color: #aec0d0;
}

.sections .blocks .block.color-3:hover {
    background-color: #aec0d0;
}

.sections .blocks .block.color-4 {
    border-color: #e172d8;
}

.sections .blocks .block.color-4:hover {
    background-color: #e172d8;
}

.sections .blocks .block.color-5 {
    border-color: #7bd5fb;
}

.sections .blocks .block.color-5:hover {
    background-color: #7bd5fb;
}

.sections .blocks .block.color-6 {
    border-color: #d8c547;
}

.sections .blocks .block.color-6:hover {
    background-color: #d8c547;
}

/** --------------------- SECTIONS end ---------------------**/

/** --------------------- CARD start ---------------------**/
.card .mob-anchor {
    display: none;
}

.card .description {
    max-width: 860px;
}

.card .service {
    margin: 50px 0 61px
}

.card .service .title {
    display: block;
    font-size: 20px;
    font-family: 'Commissioner-Bold';
    margin-bottom: 20px;
}

.card .service ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.card .service ul li {
    list-style: none;
    width: calc(100% / 6 - 15px);
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
    margin: 18px 18px 0 0;
    font-size: 15px;
    line-height: 20px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    min-height: 105px;
    cursor: pointer;
    transition: .3s;
}

.card .service ul li:hover {
    border-color: #47d8d3;
}

.card .service ul li:nth-of-type(6n+6) {
    margin-right: 0;
}

.card .blocks .block {
    display: flex;
    width: 100%;
    padding: 40px 60px 35px;
    box-sizing: border-box;
    min-height: 423px;
}

.card .blocks .block:not(:last-of-type) {
    margin-bottom: 40px;
}

.card .blocks .block .name {
    display: flex;
    align-items: center;
    width: 110px;
}

.card .blocks .block .name p {
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    transform: rotate(180deg);
    font-family: 'Commissioner-Black';
    margin: 0;
    writing-mode: tb;
    position: relative;
    left: -23px;
}

.card .blocks .block .order {
    width: 385px;
}

.card .blocks .block .order .price {
    font-size: 30px;
    font-family: 'Commissioner-Bold';
    margin: 13px 0 0;
}

.card .blocks .block .order .price i {
    font-style: normal;
    font-size: 23px;
    position: relative;
    left: 5px;
    top: -5px;
    color: rgb(0 0 0 / 25%);
}

.card .blocks .block .order .duration {
    display: flex;
}

.card .blocks .block .order .duration input {
    display: none;
}

.card .blocks .block .order .duration p {
    font-size: 15px;
    display: block;
    font-family: 'Commissioner-SemiBold';
    cursor: pointer;
    padding: 4px 0;
    position: relative;
}

.card .blocks .block .order .duration p:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom: 2px dotted #000;
}

.card .blocks .block .order .duration label:not(:last-of-type) p {
    margin-right: 30px;
}

.card .blocks .block .order .duration input:checked+p:before {
    border-bottom: 0;
}

.card .blocks .block .order .duration input:checked+p:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(0 0 0 / 16%);
}

.card .blocks .block .order .inf {
    font-size: 15px;
    line-height: 25px;
    max-width: 305px;
    margin: 4px 0 28px;
}

.card .blocks .block .order button {
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-family: 'Commissioner-Bold';
    padding: 13px 78px;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.card .blocks .block .order button:hover {
    background-color: rgb(255 255 255 / 50%);
}

.card .blocks .block .access {
    width: calc(100% - 495px);
}

.card .blocks .block .access .title {
    font-size: 15px;
    font-family: 'Commissioner-Bold';
    margin: 0 0 20px;
}

.card .blocks .block .access .table {
    display: flex;
}

.card .blocks .block .access .table .img p {
    margin: 0;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
}

.card .blocks .block .access .table .img p:nth-of-type(2n+2) {
    height: 40px;
}

.card .blocks .block .access .table .img img {
    max-width: 23px;
    max-height: 30px;
}

.card .blocks .block .access .table .inf {
    width: 100%;
    box-sizing: border-box;
    padding-left: 17px;
}

.card .blocks .block .access .table .inf p {
    margin: 0;
    font-size: 14px;
    font-family: 'Commissioner-SemiBold';
    padding: 4px 7px;
    box-sizing: border-box;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
}

.card .blocks .block .access .table .inf p:nth-of-type(2n+2) {
    padding: 9px 7px;
}

.card .footnote {
    margin: 40px 0 45px;
}

.card .footnote p {
    margin: 0;
    font-size: 15px;
    line-height: 25px;
}

.card .blocks .block .access .table .inf p span i {
    font-style: normal;
    cursor: default;
    position: relative;
}

.card .blocks .block .access .table .inf p span i:hover>span {
    display: block;
}

.card .blocks .block .access .table .inf p span i span {
    display: none;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 5px 24px 0 rgb(0 0 0 / 14%);
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    width: 315px;
    box-sizing: border-box;
    font-family: 'Commissioner-Regular';
}

.card .blocks .block .access .table .inf p span i span::before,
.card .blocks .block .access .table .inf p span i span::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -32px;
    border: 18px solid transparent;
    border-top: 14px solid #fff;
}

.card .blocks .block.color1 {
    background-color: #aec0d0;
}

.card .blocks .block.color1 .access .table .inf p:nth-of-type(2n+1) {
    background-color: #b7c6d4;
}

.card .blocks .block.color1 .access .table .inf p span i {
    color: #889fb5;
}

.card .blocks .block.color2 {
    background-color: #7395f3;
}

.card .blocks .block.color2 .access .table .inf p:nth-of-type(2n+1) {
    background-color: #7d9df5;
}

.card .blocks .block.color2 .access .table .inf p span i {
    color: #4b72dd;
}

.card .blocks .block.color3 {
    background-color: #23e1da;
}

.card .blocks .block.color3 .access .table .inf p:nth-of-type(2n+1) {
    background-color: #33e4dd;
}

.card .blocks .block.color3 .access .table .inf p span i {
    color: #1a9f9a;
}

.card .blocks .block.color4 {
    background-color: #d8c547;
}

.card .blocks .block.color4 .access .table .inf p:nth-of-type(2n+1) {
    background-color: #e0cd4d;
}

.card .blocks .block.color5 {
    background-color: #7bd5fb;
}

.card .blocks .block.color5 .access .table .inf p:nth-of-type(2n+1) {
    background-color: #85dafe;
}

.card .blocks .block.color6 {
    background-color: #e172d8;
}

.card .blocks .block.color6 .access .table .inf p:nth-of-type(2n+1) {
    background-color: #e779de;
}

/** --------------------- CARD end ---------------------**/

/** --------------------- LK start ---------------------**/
.lk {
    margin-bottom: 200px;
}

.lk .data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.lk .data .person,
.lk .data .pass {
    width: calc(100% / 2 - 32px);
}

.lk .data .person {
    padding-bottom: 35px;
}

.lk .data .person .right .cont p {
    width: 40%;
}

.lk .data .person .right .cont p:nth-of-type(2n+2) {
    text-align: left;
}

.lk .data .pass .chg-pass {
    font-size: 14px;
    font-family: 'Commissioner-SemiBold';
    color: #000;
    transition: color .3s;
    display: block;
    max-width: 210px;
    margin-bottom: 30px;
    position: relative;
}

.lk .data .pass .chg-pass.active:after {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    width: 9px;
    height: 9px;
    background: url("") center center / cover no-repeat;
    transition: .3s;
}

.lk .data .pass .chg-pass:hover {
    color: #47d8d3;
}

.lk .data .pass .chg-pass:hover:after {
    background: url("") center center / cover no-repeat;
}

.lk .data .pass form {
    width: 210px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.lk .data .pass form.opened {
    visibility: visible;
    opacity: 1;
}

.lk .data .pass form .form-group {
    position: relative;
    margin-bottom: 15px;
}

.lk .data .pass form .form-group .control-label {
    font-size: 13px;
    font-family: 'Commissioner-Bold';
    display: block;
    margin: 0 0 4px 0;
}

.lk .data .pass form .form-group .controls input {
    width: 100%;
    border: 1px solid #e4e8ea;
    background-color: initial;
    padding: 9px 10px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Commissioner-Regular';
}

.lk .data .pass form button,
.lk .status .wallet form button {
    width: 100%;
    background-color: #47d8d3;
    border: 0;
    border-radius: 0;
    font-size: 13px;
    font-family: 'Commissioner-Bold';
    padding: 9px 0;
    margin: 7px 0 13px;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.lk .data .pass form button:hover,
.lk .status .wallet form button:hover {
    background-color: rgb(71 216 211 / 50%);
}


.lk .status {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.lk .status .table {
    width: calc(60% - 35px);
}

.lk .status .table p {
    margin: 0;
    width: calc(100% / 3);
    padding: 25px 30px;
    box-sizing: border-box;
    font-size: 15px;
}

.lk .status .table .header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e4e4e4;
}

.lk .status .table .header p {
    font-size: 13px;
    font-family: 'Commissioner-SemiBold';
    padding: 6px 30px;
}

.lk .status .table .body .group {
    display: flex;
    justify-content: space-between;
}

.lk .status .table .body .group:not(:last-of-type) {
    border-bottom: 1px solid #e4e4e4;
}

.lk .status .table .body .group p span {
    display: block;
}

.lk .status .wallet {
    width: calc(40% - 15px);
    box-sizing: border-box;
    background-color: #f5f5f5;
    text-align: center;
    padding: 35px 0 37px;
}

.lk .status .wallet form {
    width: 220px;
    margin: auto;
}

.lk .status .wallet form p {
    font-size: 20px;
    font-family: 'Commissioner-SemiBold';
    line-height: 36px;
    margin: 0;
}

.lk .status .wallet form p span {
    font-size: 30px;
    display: block;
}

.lk .status .wallet form input {
    width: 100%;
    border: 1px solid #e4e8ea;
    background-color: initial;
    padding: 9px 10px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Commissioner-SemiBold';
    text-align: center;
    margin: 15px 0;
}

.lk .status .wallet form input::-moz-placeholder {
    color: #000;
}

.lk .status .wallet form input::-webkit-input-placeholder {
    color: #000;
}

.lk .status .wallet form input:-ms-input-placeholder {
    color: #000;
}

.lk .status .wallet form input::-ms-input-placeholder {
    color: #000;
}

.lk .status .wallet form input::placeholder {
    color: #000;
}

.lk .order-list {
    width: calc(60% - 35px);
}

.lk .order-list .group {
    box-sizing: border-box;
    padding: 0;
    border-bottom: 1px solid #e4e4e4;
}

.lk .order-list .group .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.lk .order-list .group:first-of-type {
    border-top: 1px solid #e4e4e4;
}

.lk .order-list .group p {
    width: 18%;
    margin: 21px 0;
    font-size: 14px;
    font-family: 'Commissioner-SemiBold';
}

.lk .order-list .group .wrapper.active p:first-of-type {
    color: #47d8d3;
    position: relative;
}

.lk .order-list .group .wrapper.active p:first-of-type:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 50px;
    width: 14px;
    height: 8px;
    background: url("") center center / cover no-repeat;
}

.lk .order-list .group p:last-of-type:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ffb2b2;
    vertical-align: middle;
    margin-right: 10px;
}

.lk .order-list .group p.payed:last-of-type:before {
    background-color: #adeae8;
}

.lk .order-list .group .hide {
    width: 100%;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 35px 30px;
    display: none;
}

.lk .order-list .group .hide .row {
    display: flex;
    justify-content: space-between;
}

.lk .order-list .group .hide .row:not(:last-of-type) {
    margin-bottom: 38px;
}

.lk .order-list .group .hide .row p {
    margin: 0;
}

.lk .order-list .group .hide .row p:nth-of-type(1) {
    flex: 4;
    padding-right: 20px;
    box-sizing: border-box;
}

.lk .order-list .group .hide .row p:nth-of-type(2) {
    flex: 3;
    font-family: 'Commissioner-Regular';
}

.lk .order-list .group .hide .row p:nth-of-type(3) {
    flex: 1;
}

.lk .order-list .group .hide .row p:last-of-type:before {
    width: 0;
    margin-right: 5px;
}

.lk .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.lk .card-list .block {
    display: flex;
    justify-content: space-between;
    width: calc(100% / 2 - 15px);
    box-sizing: border-box;
    padding: 30px 40px 30px 30px;
    margin-bottom: 30px;
}

.lk .card-list .block .name p {
    font-size: 38px;
    color: #fff;
    text-transform: uppercase;
    transform: rotate(180deg);
    font-family: 'Commissioner-Black';
    margin: 0;
    writing-mode: tb;
    position: relative;
    left: -12px;
    text-align: right;
}

.lk .card-list .block .inf {
    width: calc(100% - 65px);
}

.lk .card-list .block .inf p {
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    font-family: 'Commissioner-SemiBold';
}

.lk .card-list .block .inf .mob-access {
    display: none;
}

.lk .card-list .block .inf ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
}

.lk .card-list .block .inf ul li {
    list-style: none;
    font-size: 14px;
}

.lk .card-list .block .inf ul li img {
    max-width: 23px;
    max-height: 30px;
}

.lk .card-list .block .inf ul.header {
    min-height: 30px;
    margin: 20px 0;
}

.lk .card-list .block .inf ul li:nth-of-type(1) {
    flex: 1;
}

.lk .card-list .block .inf ul li:nth-of-type(2) {
    flex: 4;
}

.lk .card-list .block .inf ul li:nth-of-type(3) {
    flex: 2;
}

.lk .card-list .block .inf ul li:nth-of-type(4) {
    flex: 2;
}

.lk .card-list .block.inactive p:not(:nth-of-type(2)),
.lk .card-list .block.inactive ul {
    opacity: .2;
}


.lk .card-list .block.color1 {
    background-color: #aec0d0;
}

.lk .card-list .block.color1 .inf ul.header {
    background-color: #b7c6d4;
}

.lk .card-list .block.color2 {
    background-color: #7395f3;
}

.lk .card-list .block.color2 .inf ul.header {
    background-color: #7d9df5;
}

.lk .card-list .block.color3 {
    background-color: #23e1da;
}

.lk .card-list .block.color3 .inf ul.header {
    background-color: #33e4dd;
}

.lk .card-list .block.color4 {
    background-color: #d8c547;
}

.lk .card-list .block.color4 .inf ul.header {
    background-color: #e0cd4d;
}

.lk .card-list .block.color5 {
    background-color: #7bd5fb;
}

.lk .card-list .block.color5 .inf ul.header {
    background-color: #85dafe;
}

.lk .card-list .block.color6 {
    background-color: #e172d8;
}

.lk .card-list .block.color6 .inf ul.header {
    background-color: #e779de;
}

.lk .history {
    max-width: 685px;
}

.lk .history .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lk .history .filter .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}

.lk .history .filter .options .year,
.lk .history .filter .options .month {
    display: flex;
    align-items: center;
}

.lk .history .filter .options .year p,
.lk .history .filter .options .month p {
    font-size: 14px;
    margin: 0 10px 0 0;
}

.lk .history .filter .options .year .jq-selectbox {
    width: 85px;
}

.lk .history .filter .options .month .jq-selectbox {
    width: 115px;
}

.lk .history .filter .print a {
    font-size: 13px;
    font-family: 'Commissioner-Medium';
    color: #000;
    text-decoration: underline #d4d4d4;
    transition: .3s;
}

.lk .history .filter .print a:hover {
    color: #47d8d3;
    text-decoration-color: #47d8d3;
}

.lk .history .filter .print a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 11px;
    height: 9px;
    background: url("") center center / cover no-repeat;
}

.lk .history .table {
    margin: 30px 0;
}

.lk .history .table .line {
    display: flex;
    border-top: 1px solid #e4e4e4;
    padding: 13px 0;
}

.lk .history .table .line p {
    font-family: 'Commissioner-SemiBold';
    font-size: 14px;
    line-height: 30px;
    margin: 0;
}

.lk .history .table .line div:not(.name) {
    margin-right: 75px;
}

.lk .history .table .line .date {
    min-width: 65px;
}

.lk .history .table .line .time {
    min-width: 42px;
}

.lk .history .table .line .color {
    position: relative;
}

.lk .history .table .line .color:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 10px;
    width: 9px;
    height: 9px;
    background-color: #47d8d3;
    border-radius: 50%;
}

.lk .inf-print {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.lk .inf-print p {
    font-size: 15px;
    margin: 0;
}

.lk .inf-print p a {
    font-size: 13px;
    font-family: 'Commissioner-Medium';
    color: #000;
    text-decoration: underline #d4d4d4;
    transition: .3s;
}

.lk .inf-print p a:hover {
    color: #47d8d3;
    text-decoration-color: #47d8d3;
}

.lk .inf-print p a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 11px;
    height: 9px;
    background: url("") center center / auto no-repeat;
}

/** --------------------- LK end ---------------------**/

/** --------------------- PERSONAL TRAINING start ---------------------**/
.personal {
    padding-bottom: 60px;
}

.personal .filters {
    margin-bottom: 38px;
}

.personal .filters form {
    display: flex;
}

.personal .filters fieldset {
    width: initial;
    margin: 0 0 0 -6px;
    padding: 0;
}

.personal .filters fieldset label span {
    margin-bottom: 0;
}

.personal .filters fieldset .select {
    display: flex;
    align-items: center;
    margin-left: 55px;
}

.personal .filters fieldset .select p {
    font-size: 14px;
    margin: 0 10px 0 0;
}

.personal .filters fieldset .select .jq-selectbox {
    width: 285px;
}

.personal .parent {
    display: flex;
    border: 1px solid;
    box-sizing: border-box;
    padding: 25px 25px 25px 55px;
}

.personal .parent:not(:last-of-type) {
    margin-bottom: 30px;
}

.personal .parent .left {
    width: 80px;
    display: flex;
    align-items: flex-start;
}

.personal .parent .left p {
    font-size: 45px;
    text-transform: uppercase;
    transform: rotate(180deg);
    font-family: 'Commissioner-Black';
    margin: 0;
    writing-mode: tb;
    position: relative;
    left: -14px;
}

.personal .parent .right {
    display: flex;
    flex-wrap: wrap;
}

.personal .parent .right .block {
    width: calc(100% / 3);
    box-sizing: border-box;
    background-color: inherit;
    padding: 25px 33px 25px 37px;
    color: #000;
    position: relative;
}

.personal .parent .right .block:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.personal .parent .right .block:nth-of-type(2):before {
    opacity: .6;
}

.personal .parent .right .block:nth-of-type(3):before {
    opacity: .3;
}

.personal .parent .right .block .title {
    font-size: 20px;
    font-family: 'Commissioner-Bold';
    margin: 0;
}

.personal .parent .right .block p {
    font-size: 15px;
    line-height: 20px;
}

.personal .parent .right .block .inf {
    min-height: 120px;
}

.personal .parent .right .block form label p {
    margin: 0 0 12px;
    font-size: 12px;
    font-family: 'Commissioner-Bold';
}

.personal .parent .right .block form .jq-selectbox__select {
    border-color: rgba(0, 0, 0, 0.10);
}

.personal .parent .right .block form .buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.personal .parent .right .block form .buy .price {
    margin: 0;
    font-size: 20px;
    font-family: 'Commissioner-Bold';
}

.personal .parent .right .block form .buy button {
    font-size: 16px;
    font-family: 'Commissioner-Bold';
    background-color: #fff;
    border: none;
    padding: 7px 35px;
}

.personal .parent .right .block:only-of-type {
    margin-right: 50px;
}

.personal .parent .right .info {
    color: #000;
    min-width: calc(100% / 3 * 2 - 50px);
    max-width: 100%;
    flex: 1;
}

.personal .parent .right .info .add {
    position: relative;
}

.personal .parent .right .info .add:before {
    content: '!';
    position: absolute;
    left: -33px;
    top: 4px;
    width: 18px;
    height: 18px;
    background-color: #47d8d3;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-family: 'Commissioner-Bold';
    font-size: 12px;
    box-sizing: border-box;
    padding: 2px 0 0 1px;
    line-height: normal;
}

.personal .parent .right .info p {
    font-size: 15px;
    line-height: 20px;
}

.personal .parent .right .info p strong {
    display: block;
}

.personal .parent.color1 {
    color: #aec0d0;
}

.personal .parent.color1 .right .block:before {
    background-color: #aec0d0;
}

.personal .parent.color2 {
    color: #9fb9ff;
}

.personal .parent.color2 .right .block:before {
    background-color: #9fb9ff;
}

.personal .parent.color3 {
    color: #d8c547;
}

.personal .parent.color3 .right .block:before {
    background-color: #d8c547;
}

.personal .parent.color4 {
    color: #7bd5fb;
}

.personal .parent.color4 .right .block:before {
    background-color: #7bd5fb;
}

.personal .parent.color5 {
    color: #ffb2b2;
}

.personal .parent.color5 .right .block:before {
    background-color: #ffb2b2;
}

.personal .parent.color6 {
    color: #7490e0;
}

.personal .parent.color6 .right .block:before {
    background-color: #7490e0;
}

.personal .parent.color7 {
    color: #e172d8;
}

.personal .parent.color7 .right .block:before {
    background-color: #e172d8;
}

/** --------------------- PERSONAL TRAINING end ---------------------**/

/**----------------- PRINT START ------------------**/
@media print {

    header,
    .modal,
    .lk .history .filter,
    footer {
        display: none;
    }

    /**@page { margin: 0; }
    body { margin: 0; }**/
}

/**----------------- PRINT END ------------------**/