@media (max-width: 767px) {

    /** --------------------- MAIN start ---------------------**/
    html,
    body {
        width: 100%;
    }

    h1 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        margin: 20px 0 25px;
    }

    body {
        padding-bottom: 0;
        position: relative;
        min-height: initial;
        padding-top: 57px;
    }

    .modal.opened {
        margin-top: 57px;
    }

    .modal form {
        width: 100%;
        max-width: 350px;
    }

    .modal .wrap .close {
        right: 15px;
    }

    .content-v2 {
        margin-bottom: 25px;
    }

    .mob-prev {
        display: block;
        width: 100%;
        border: 1px solid #e4e4e4;
        padding: 10px 0;
        text-align: center;
        color: #000;
        font-size: 14px;
    }

    .first-img {
        background: initial !important;
        padding: 0;
    }

    .news-detail .first-img:before {
        height: 0;
    }

    .first-img h1 {
        color: #000;
    }

    .news-detail .first-img p {
        display: none;
    }

    .filters {
        position: relative;
    }

    .filters form {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
        border: 1px solid #000;
        box-sizing: border-box;
        padding: 15px;
    }

    .filters form.active {
        display: block;
    }

    .filters .close,
    .filters .join {
        display: block;
        margin: auto
    }

    .filters .close {
        display: block;
        width: 22px;
        height: 22px;
        position: relative;
        margin: 0 auto 15px;
    }

    .filters .close:after {
        content: '';
        position: absolute;
        top: 11px;
        left: -3px;
        width: 28px;
        height: 1px;
        background-color: #000;
        transform: rotate(45deg);
    }

    .filters .close:before {
        content: '';
        position: absolute;
        top: 11px;
        left: -3px;
        width: 28px;
        height: 1px;
        background-color: #000;
        transform: rotate(135deg);
    }

    .filters .join {
        font-size: 12px;
        color: #fff;
        font-family: 'Commissioner-Bold';
        background-color: #000;
        padding: 7px 0;
        width: 94px;
        text-align: center;
        margin: 10px auto;
    }

    .filters fieldset label span {
        margin: 0 5px 7px;
    }

    .btn-more, .btn_more {
        box-sizing: border-box;
        width: 100%;
        max-width: 380px;
    }

    .mob-button {
        display: block;
        margin-top: 75px;
        width: 100%;
        border: 1px solid #e4e4e4;
        padding: 10px 0;
        text-align: center;
        margin: auto;
        font-size: 14px;
        font-family: 'Commissioner-Medium';
    }

    .mob-button:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 5px;
        vertical-align: middle;
        margin-left: 15px;
        background: url("") center center / cover no-repeat;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        content: '';
        width: 19px;
        height: 36px;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: 7px;
        left: auto;
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: 7px;
        right: auto;
    }

    .breadcrumbs {
        display: none;
    }

    .form_cb form,
    .contact form {
        width: 345px;
    }

    .form_cb {
        background-color: #f5f5f5;
        padding: 30px 0 30px;
        border-bottom: 2px solid #fff;
    }

    .form_cb .title {
        font-size: 23px;
        line-height: normal;
    }

    .content {
        width: 100%;
        margin: auto;
        padding: 30px 15px 25px;
        box-sizing: border-box;
    }

    .content .slider {
        width: calc(100% + 31px);
        margin: 25px 0;
    }

    .content .slider .swiper-button-prev,
    .content .slider .swiper-button-next {
        display: none;
    }

    .content p,
    .description p {
        font-size: 15px;
        line-height: 25px;
    }

    .content p iframe {
        width: 100%;
        height: 300px;
        max-width: 500px;
        margin: 0 0 0 50%;
    }

    .content p:last-of-type iframe {
        margin-bottom: 0;
    }

    .content ol li,
    .content ul li {
        font-size: 15px;
    }

    .content p.footnotes {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        width: calc(100% + 31px);
        padding: 45px 25px 50px;
        font-size: 18px;
        line-height: 25px;
        margin: 25px 0;
    }

    header.index:after {
        height: 0;
    }

    header.index .top {
        background-color: #000;
    }

    header .top {
        padding: 0 15px;
        box-sizing: border-box;
        z-index: 15;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    header .top .wrapper .about-link,
    header .top .wrapper .phone,
    header .top .wrapper .call,
    header .top .wrapper .inst,
    header .main-menu {
        display: none;
    }

    header .top .wrapper {
        width: 100%;
    }

    header .top .wrapper .mob-menu {
        display: block;
        order: -1;
        flex: 2;
    }

    header .top .wrapper .mob-menu span {
        display: block;
        width: 17px;
        height: 2px;
        background-color: #fff;
        transition: .3s;
    }

    header .top .wrapper .mob-menu .cover {
        width: 27px;
        height: 26px;
        box-sizing: border-box;
        padding: 5px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 10px;
    }

    header .top .wrapper .mob-menu .cover.opened span {
        height: 1px;
        background-color: #47d8d3;
        width: 22px;
        transition: .3s;
    }

    header .top .wrapper .mob-menu .cover.opened span:first-of-type {
        transform: rotate(45deg);
        position: relative;
        top: 8px;
        left: -3px;
    }

    header .top .wrapper .mob-menu .cover.opened span:nth-of-type(2) {
        display: none;
    }

    header .top .wrapper .mob-menu .cover.opened span:last-of-type {
        transform: rotate(135deg);
        position: relative;
        left: -3px;
        top: 2px;
    }

    header .top .wrapper .mob-menu span:not(:last-of-type) {
        margin-bottom: 5px;
    }

    header .top .wrapper .logo a {
        font-size: 16px;
    }

    header .top .wrapper .basket,
    header .top .wrapper .lk-link {
        flex: 1;
        text-align: right;
    }

    header .top .wrapper .logo {
        flex: 3;
        text-align: center;
    }

    header .top .wrapper .basket a {
        margin-left: auto;
    }

    header .slide_menu {
        top: 57px;
        height: calc(100% - 57px);
        width: 100%;
        right: -100%;
        padding: 25px 35px 0;
    }

    header .slide_menu .top {
        background-color: initial;
        position: initial;
        width: initial;
        padding: 0;
    }

    header .slide_menu .add,
    header .slide_menu .top .close {
        display: none;
    }

    header .slide_menu ul {
        margin: 0;
        padding: 0;
    }

    header .slide_menu .top a {
        line-height: 48px;
    }

    header.index .main-menu {
        display: none;
    }

    header .slide_menu ul .parent.active a:after {
        transform: rotate(90deg);
        background: url("arrow-header-h.svg") center center / cover no-repeat;
    }

    header .slide_menu ul .parent.active a {
        color: #47d8d3;
    }

    header .slide_menu ul .parent.active ul {
        display: block;
    }

    header .slide_menu ul .parent.active ul li a {
        color: #000;
    }

    header .lk-menu {
        border-bottom: none;
        margin: 16px auto 0;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
        max-width: 400px;
        position: relative;
    }

    header .lk-menu ul {
        display: none;
    }

    header .lk-menu ul.active {
        display: block;
        border: 1px solid #000;
        position: absolute;
        top: 0;
        left: 15px;
        width: calc(100% - 30px);
        background-color: #fff;
        text-align: center;
        z-index: 1;
    }

    header .lk-menu ul .close {
        display: block;
        width: 22px;
        height: 22px;
        position: relative;
        margin: 0 auto 10px;
    }

    header .lk-menu ul .close:after {
        content: '';
        position: absolute;
        top: 11px;
        left: -3px;
        width: 28px;
        height: 1px;
        background-color: #000;
        transform: rotate(45deg);
    }

    header .lk-menu ul .close:before {
        content: '';
        position: absolute;
        top: 11px;
        left: -3px;
        width: 28px;
        height: 1px;
        background-color: #000;
        transform: rotate(135deg);
    }

    header .lk-menu ul.active li a {
        font-size: 14px;
        line-height: 30px;
        text-transform: initial;
    }
    
    header .lk-menu ul.active li.logout{
        margin-top: 10px;
    }
    
    header .lk-menu ul.active li.logout a{
        justify-content: center;
    }
    
    header .top .wrapper .lk-link a {
        position: relative;
    }

    header .top .wrapper .lk-link a img {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        position: absolute;
        left: -34px;
        top: -16px;
    }

    header .card-menu {
        display: none;
    }

    .wrap {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .baner {
        position: relative;
    }

    .baner .bg.main,
    .baner .bg.table {
        display: none;
    }

    .baner .bg.mobil {
        display: block;
    }

    .baner .time {
        font-size: 20px;
        text-align: center;
    }

    .baner.type1 .title {
        font-size: 27px;
    }

    .baner .title {
        max-width: calc(100% - 40px);
        margin: 20px auto 28px;
        box-sizing: border-box;
        padding-left: 20px;
    }

    .baner.type1 .title:before {
        left: 0;
        height: 85%;
        width: 6px;
        top: 6px;
    }

    .baner .text {
        font-size: 20px;
        max-width: 250px;
        margin-left: auto;
    }

    .baner a {
        display: block;
        width: 142px;
        margin: 24px auto 0;
    }

    .baner {
        padding: 96px 0 279px 0;
    }

    .baner.type2 {
        padding-bottom: 279px;
    }

    .baner.type2 .title {
        font-size: 40px;
    }

    .baner.type2 .inf {
        position: absolute;
        bottom: -270px;
        box-sizing: border-box;
        left: 0;
        padding: 0 15px;
    }

    .baner.type2 .inf p {
        font-size: 13px;
        line-height: normal;
    }

    .slogan {
        padding: 60px 15px;
    }

    .slogan p {
        font-size: 45px;
        letter-spacing: 3px;
        line-height: 45px;
        text-align: center;
    }

    .slogan .mask {
        font-size: 45px;
        line-height: normal;
        letter-spacing: 0.5px;
        background-position: -137px -412px;
    }

    .advantage .block {
        flex-wrap: wrap;
        height: auto;
    }

    .advantage .block .img,
    .advantage .block .text {
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
    }

    .advantage .block .img {
        min-height: 300px;
        background-position: center;
    }

    .advantage .block .text .group {
        margin: 0 auto;
    }

    .advantage .block:nth-of-type(2n+2) .img {
        order: initial;
        background-position: center;
    }

    .advantage .block .img .number::before {
        width: 0;
        margin: 0;
    }

    .advantage .block .img .number,
    .advantage .block:nth-of-type(2n+2) .img .number {
        right: 0;
        left: 25px;
    }

    .advantage .block .text span {
        font-size: 20px;
        line-height: 25px;
    }

    .advantage .block .text p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 0;
    }

    .advantage .block .text {
        text-align: center;
        background-color: initial;
        padding: 30px 15px;
        position: relative;
        margin-top: -80px;
    }

    .advantage .block .text a {
        color: #fff;
        border: 1px solid #fff;
        margin: 25px 0 0;
        display: inline-block;
    }

    .reasons .title {
        font-size: 30px;
        margin: 80px auto 70px;
    }

    .reasons .blocks .wrapper {
        width: 100%;
        flex-wrap: wrap;
        padding: 15px;
        box-sizing: border-box;
    }

    .reasons .blocks .wrapper .block {
        width: 100%;
        max-width: 345px;
        margin: 0 auto 15px;
    }

    .reasons .blocks .wrapper .block p {
        line-height: 25px;
        width: 73%;
        margin-left: 85px;
    }

    .reasons .blocks .wrapper .block span {
        margin-bottom: 10px;
    }

    footer {
        position: initial;
        padding: 0;
    }

    footer .wrap {
        padding: 0;
    }

    footer .top {
        padding: 20px 30px 25px;
        box-sizing: border-box;
        flex-wrap: wrap;
        background-color: #f5f5f5;
    }

    footer .top .logo {
        position: absolute;
        bottom: 87px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    footer .top ul {
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto 15px;
    }

    footer .top ul li {
        width: 50%;
    }

    footer .top ul li a {
        font-size: 13px;
        line-height: 30px;
    }

    footer .top ul li:not(:last-of-type) {
        margin-right: 0;
    }

    footer .bottom {
        display: block;
        text-align: center;
        padding: 55px 0 25px;
        background-color: #fff;
    }

    footer .bottom a,
    footer .bottom span {
        margin: 0;
        display: block;
    }

    footer .bottom span {
        margin-bottom: 15px;
    }
    
    footer .bottom span a{
        display: inline-block;
    }
    footer .bottom a:first-of-type{
        margin: 0;
    }
    /** --------------------- MAIN end ---------------------**/

    /** --------------------- 404 AND THX start ---------------------**/
    .page_404 {
        background: initial !important;
        padding: 5px 0 0;
    }

    .page_404 .bg {
        display: none;
    }

    .page_404 .inf .text {
        max-width: 100%;
        padding: 50px 0 75px;
    }

    .page_404 .inf .text p {
        max-width: 260px;
    }

    .page_404 h1 {
        margin: 0 0 0 -5px;
        letter-spacing: 4px;
    }

    .thx h1 {
        letter-spacing: 0;
        font-family: 'Commissioner-Black';
        margin-top: 40px;
    }

    /** --------------------- 404 AND THX end ---------------------**/

    /** --------------------- BASKET start ---------------------**/
    .basket .alert span {
        font-size: 20px;
        line-height: 24px;
        margin: 25px auto 30px;
    }

    .basket .alert {
        text-align: center;
        padding: 30px 0 5px;
    }

    .basket .cart {
        flex-wrap: wrap;
    }

    .basket h1 {
        margin-top: 0;
        font-size: 25px;
    }

    .basket .cart .table .line .group {
        flex-wrap: wrap;
    }

    .basket .cart .table .line .group .name,
    .basket .cart .table .line .group .option {
        width: 100%;
        flex: initial;
    }

    .basket .cart .cost {
        width: 100%;
        max-width: 465px;
        margin: 20px auto 0;
    }

    .basket .cart .cost .total {
        margin: 5px 0 15px;
    }

    /** --------------------- BASKET end ---------------------**/

    /** --------------------- CLUB CARD start ---------------------**/
    .card.wrap {
        margin-top: 23px;
    }

    .card .mob-anchor {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #e4e4e4;
        padding: 16px 0;
        margin-bottom: 20px;
    }

    .card .mob-anchor a {
        width: calc(100% / 3);
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 24px;
        color: #000;
        font-family: 'Commissioner-Medium';
    }

    .card .service ul {
        justify-content: space-between;
    }

    .card .service ul li {
        width: calc(50% - 5px);
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 15px;
        font-family: 'Commissioner-Bold';
        min-height: 60px;
        padding: 0 15px;
    }

    .card .service {
        margin: 50px 0 5px;
    }

    .card .blocks .block {
        flex-wrap: wrap;
        padding: 10px 0 100px 0;
        position: relative;
    }

    .card .blocks .block .name {
        text-align: center;
        width: 100%;
    }

    .card .blocks .block .name p {
        font-size: 67px;
        transform: initial;
        writing-mode: initial;
        left: 0;
        width: 100%;
    }

    .card .blocks .block .order button {
        position: absolute;
        left: 25px;
        bottom: 28px;
        width: calc(100% - 50px);
    }

    .card .blocks .block .order {
        box-sizing: border-box;
        padding: 0 25px;
    }

    .card .blocks .block .access {
        width: 100%;
    }

    .card .blocks .block .access .table .img p,
    .card .blocks .block .access .table .img p:nth-of-type(2n+2) {
        height: 44px;
        padding: 0 10px 0 25px;
    }

    .card .blocks .block .access .table .inf {
        padding: 0;
    }

    .card .blocks .block .access .table .inf p {
        flex-wrap: wrap;
    }

    .card .blocks .block .access .table .inf p:nth-of-type(2n+2) {
        padding: 4px 7px;
    }

    .card .blocks .block .access .table .inf p span {
        width: 100%;
        display: block;
        line-height: 18px;
    }

    .card .blocks .block .access .table .inf p span i span {
        left: -232px;
        transform: translate(0, 0);
    }

    .card .blocks .block .access .table .inf p span i span::before,
    .card .blocks .block .access .table .inf p span i span::after {
        left: 224px;
        transform: translate(0, 0);
    }

    .card .blocks .block .order .price {
        text-align: center;
    }

    .card .blocks .block .order .duration {
        justify-content: center;
    }

    .card .blocks .block .access .title {
        display: block;
        margin-top: 75px;
        width: calc(100% - 50px);
        border: 1px solid rgb(0 0 0 / 10%);
        padding: 16px 0;
        box-sizing: border-box;
        text-align: center;
        margin: auto;
        font-size: 15px;
        font-family: 'Commissioner-Bold';
    }

    .card .blocks .block .access .title:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 5px;
        vertical-align: middle;
        margin-left: 15px;
        background: url("") center center / cover no-repeat;
    }

    .card .blocks .block .access .title.active:after {
        transform: rotate(180deg);
    }

    .card .blocks .block .access .table {
        margin-top: 20px;
    }

    .card .blocks .block.color1 .access .table .img p:nth-of-type(2n+2),
    .card .blocks .block.color1 .access .table .inf p:nth-of-type(2n+2) {
        background-color: #b7c6d4;
    }

    .card .blocks .block.color2 .access .table .img p:nth-of-type(2n+2),
    .card .blocks .block.color2 .access .table .inf p:nth-of-type(2n+2) {
        background-color: #7d9df5;
    }

    .card .blocks .block.color3 .access .table .img p:nth-of-type(2n+2),
    .card .blocks .block.color3 .access .table .inf p:nth-of-type(2n+2) {
        background-color: #33e4dd;
    }

    .card .blocks .block.color4 .access .table .img p:nth-of-type(2n+2),
    .card .blocks .block.color4 .access .table .inf p:nth-of-type(2n+2) {
        background-color: #e0cd4d;
    }

    .card .blocks .block.color5 .access .table .img p:nth-of-type(2n+2),
    .card .blocks .block.color5 .access .table .inf p:nth-of-type(2n+2) {
        background-color: #85dafe;
    }

    .card .blocks .block.color6 .access .table .img p:nth-of-type(2n+2),
    .card .blocks .block.color6 .access .table .inf p:nth-of-type(2n+2) {
        background-color: #e779de;
    }

    .card .blocks .block.color1 .access .table .inf p:nth-of-type(2n+1),
    .card .blocks .block.color2 .access .table .inf p:nth-of-type(2n+1),
    .card .blocks .block.color3 .access .table .inf p:nth-of-type(2n+1),
    .card .blocks .block.color4 .access .table .inf p:nth-of-type(2n+1),
    .card .blocks .block.color5 .access .table .inf p:nth-of-type(2n+1),
    .card .blocks .block.color6 .access .table .inf p:nth-of-type(2n+1) {
        background-color: initial;
    }

    /** --------------------- CLUB CARD end ---------------------**/

    /** --------------------- CLUB CONCEPT start ---------------------**/
    .concept .nav {
        display: none;
    }

    .concept .main-img {
        margin-top: 163px;
        padding: 35px 0 35px;
    }

    .concept .main-img .inf {
        padding: 0;
    }

    .concept .main-img .inf h1 {
        font-size: 30px;
        line-height: 40px;
        color: #000;
        position: absolute;
        top: -183px;
        width: 250px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .concept .main-img .inf img {
        max-width: 220px;
        margin: auto;
    }

    .concept .slider h3 {
        font-size: 30px;
        margin: -23px auto 37px;
    }

    .swiper-halls-detail {
        height: 250px;
    }

    .swiper-halls-detail:after {
        height: 0;
    }

    .concept .swiper-button-prev,
    .concept .swiper-button-next {
        display: none;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px;
    }

    /** --------------------- CLUB CONCEPT end ---------------------**/

    /** --------------------- CONTACT start ---------------------**/
    .contact {
        position: relative;
    }

    .contact .blocks {
        flex-wrap: wrap;
    }

    .contact .blocks.wrap {
        padding: 0;
    }

    .contact .blocks .inf,
    .contact .blocks .form {
        width: 100%;
        padding-bottom: 30px;
    }

    .contact .blocks .inf {
        text-align: center;
        box-sizing: border-box;
        padding: 0 15px 30px;
    }

    .contact .inf p {
        min-height: 18px;
    }

    .contact .inf h1 {
        margin-top: 23px;
    }

    .contact form .title {
        margin-top: 30px;
        text-align: center;
    }

    .contact #map {
        height: 440px;
        position: absolute;
        bottom: 548px;
        width: 100%;
    }

    .contact .blocks .form {
        margin-top: 440px;
    }

    /** --------------------- CONTACT end ---------------------**/

    /** --------------------- EDU CENTER stert ---------------------**/
    .t-center {
        margin-top: 118px;
    }

    .t-center .contact form .title {
        font-size: 24px;
    }

    .t-center .swiper-slide span {
        top: -118px;
        left: 0;
        width: 100%;
        height: 118px;
        background-color: #fff;
        text-align: center;
        transform: translate(0, 0);
        font-size: 30px;
        line-height: 40px;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .t-center .swiper-halls-detail {
        overflow: visible;
    }

    .t-center .certificate {
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
        flex-wrap: wrap;
        margin: 30px 0 25px;
    }

    .t-center .certificate .img,
    .t-center .certificate .text {
        width: 100%;
    }

    .t-center .certificate .img {
        text-align: center;
    }

    .t-center .certificate .img img {
        max-width: 180px;
        margin-bottom: 25px;
    }

    .t-center .certificate .text p {
        font-size: 15px;
        line-height: 25px;
    }

    .b-with-bg .blocks {
        flex-wrap: wrap;
    }

    .t-center .b-with-bg .block {
        width: 100%;
        max-width: 450px;
        margin: 0 auto 15px;
    }

    .t-center .b-with-bg .block .img {
        width: 75px;
        display: inline-block;
    }

    .t-center .b-with-bg {
        padding: 35px 0 0;
    }

    .b-with-bg .title {
        font-size: 23px;
        margin: 0 0 35px;
        text-align: center;
    }

    .b-with-bg .blocks .block .title {
        display: inline-block;
        width: calc(100% - 85px);
        margin: 14px 0 25px;
        vertical-align: top;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
    }

    .b-with-bg .blocks .block p {
        display: none;
    }

    .t-center .courses .blocks {
        flex-wrap: wrap;
    }

    .t-center .courses .blocks .block,
    .t-center .courses .blocks .price {
        width: 100%;
    }

    .t-center .courses .blocks .block .text {
        position: relative;
        transform: translate(0, 0);
        margin: 260px auto 0;
        left: initial;
        bottom: initial;
    }

    .t-center .courses {
        padding: 30px 0 0;
    }

    .t-center .courses h3 {
        font-size: 23px;
        line-height: 30px;
        max-width: 335px;
        margin: 0 auto 30px;
    }

    .t-center .contact .blocks .form {
        margin-top: 0;
        border-bottom: 2px solid #fff;
    }

    .contact .blocks .inf .title {
        text-align: center;
        margin-top: 45px;
    }

    .t-center .contact .blocks .inf,
    .t-center .contact .blocks .form {
        padding-bottom: 30px;
    }

    /** --------------------- EDU CENTER end ---------------------**/

    /** --------------------- FOR CORPORATIONS start ---------------------**/
    .first_pic {
        padding: 0;
        height: 402px;
    }

    .first_pic .bg.main,
    .first_pic .bg.table {
        display: none;
    }

    .first_pic .bg.mobil {
        display: block;
    }

    .first_pic .wrap {
        padding-top: 23px;
    }

    .first_pic p {
        color: #fff;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }

    .why .title {
        text-align: center;
        margin: 30px 0 30px;
    }

    .why .blocks {
        flex-wrap: wrap;
    }

    .why .blocks .block {
        width: 100%;
        max-width: 450px;
        margin: 0 auto 15px;
    }

    .why_corp {
        padding: 30px 0 0;
    }

    .why_corp .title {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .why_corp .blocks {
        flex-wrap: wrap;
    }

    .why_corp .blocks .block {
        width: 100%;
        margin: 0 auto 15px;
        max-width: 450px;
    }

    .why_corp .blocks .block .title {
        font-size: 17px;
        margin: 20px 0 18px;
        line-height: 24px;
        text-align: left;
    }

    .call_my {
        padding: 45px 0;
    }

    .call_my p {
        font-size: 15px;
        line-height: 24px;
        margin: 0 0 0;
    }

    /** --------------------- FOR CORPORATIONS end ---------------------**/

    /** --------------------- GET ORDER start ---------------------**/
    .basket.wrap {
        margin-top: 23px;
        margin-bottom: 15px;
    }

    .basket .order .payment,
    .basket .order .person {
        width: 100%;
        max-width: 345px;
        margin: 0 auto;
    }

    .person .left img {
        width: 103px;
        height: 103px;
    }

    .basket .order .person {
        order: -1;
        flex-wrap: wrap;
        position: relative;
    }

    .person .left,
    .person .right {
        width: 100%;
    }

    .person .left {
        margin-bottom: 15px;
    }

    .person .right .name {
        position: absolute;
        left: 175px;
        top: 30px;
        max-width: 20px;
        padding: 0;
    }

    .basket .order .payment {
        padding: 20px 0 30px;
    }

    .basket .order .payment p,
    .basket .order .payment .form-group,
    .basket .order .payment button {
        max-width: 220px;
        margin: 0 auto 0;
    }

    .basket .order .payment .form-group {
        margin: 17px auto 10px;
    }

    .basket .alert a {
        margin-bottom: 60px;
    }

    /** --------------------- GET ORDER end ---------------------**/

    /** --------------------- HALLS start ---------------------**/
    .halls.wrap {
        margin-top: 23px;
        padding: 0;
    }

    .halls .blocks {
        margin-bottom: 0;
    }

    .halls .blocks .block {
        width: 100%;
        max-width: 540px;
        margin: 0 auto 0;
    }

    .halls .blocks .empty {
        width: 100%;
        max-width: 540px;
    }

    .halls-detail {
        padding-top: 137px;
    }

    .halls-detail .mob-nav {
        display: block;
        font-size: 14px;
        color: #000;
        font-family: 'Commissioner-Medium';
        text-align: center;
        border: 1px solid #e4e4e4;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .halls-detail .nav {
        top: 17px;
    }

    .halls-detail h1 {
        color: #000;
        font-size: 30px;
        margin: 15px 0 0;
    }

    .content .fl {
        width: 100%;
        margin: 0 0 25px;
        flex-wrap: wrap;
        transform: translate(0, 0);
    }

    .content .fl .img {
        text-align: center;
        margin-bottom: 25px;
    }

    .content .fl .img,
    .content .fl .text {
        width: 100%;
    }

    .content .fl.fl-r .img {
        order: -1;
    }

    .halls-detail .types .tables p {
        width: calc(50% - 20px);
        text-align: right;
        margin: 0 0 18px;
        font-size: 14px;
        line-height: normal;
    }

    .halls-detail .types .tables {
        box-sizing: border-box;
        padding: 0 15px;
        margin-bottom: 40px;
    }

    .halls-detail .types span {
        margin: -15px 0 40px;
    }

    .b-with-bg .blocks .block {
        width: 100%;
    }

    .halls-detail .b-with-bg .blocks .block {
        display: flex;
        align-items: center;
        padding: 20px 24px;
        min-height: 115px;
        margin-bottom: 15px;
    }

    .halls-detail .b-with-bg .blocks .block div {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        width: 100%;
    }

    .halls-detail .b-with-bg .blocks .block .number {
        min-width: 27px;
    }

    .halls-detail .b-with-bg .blocks .block p {
        display: block;
        width: calc(100% - 57px);
        margin-left: auto;
    }

    .halls-detail .b-with-bg .blocks .block .title {
        margin: 0 0 0 30px;
        width: calc(100% - 58px);
        font-size: 18px;
        line-height: 24px;
    }

    .halls-detail .b-with-bg {
        padding: 37px 0 0;
    }

    /** --------------------- HALLS end ---------------------**/

    /** --------------------- NEWS start ---------------------**/
    .news.wrap {
        margin-top: 23px;
    }

    .news .news-blocks {
        width: 100%;
        margin-left: 0;
        margin-top: 105px;
    }

    .news .news-blocks .block {
        width: 100%;
        max-width: 380px;
        margin: 84px auto 112px;
        position: relative;
        display: block;
    }

    .news .news-blocks .block:last-of-type {
        margin-bottom: 28px;
    }

    .news .btn-more, .news .btn_more {
        margin: -6px auto 20px;
    }

    .news-detail {
        margin-top: 23px;
    }

    .news-detail .first-img h1 {
        font-size: 25px;
        line-height: 30px;
        text-align: left;
        margin: 25px 0 0;
    }

    .news-detail .first-img .bg {
        display: none;
    }

    /** --------------------- NEWS end ---------------------**/

    /** --------------------- FRANCHISE start ---------------------**/
    .franchise .first-img .bg.main,
    .franchise .first-img .bg.table {
        display: none;
    }

    .franchise .first-img .bg.mobil {
        display: block;
    }

    .franchise .first-img p {
        font-size: 20px;
        line-height: 30px;
        padding: 17px 20px 79px;
    }

    .franchise .first-img img {
        max-width: 200px;
        margin-top: 15px;
    }

    .franchise .why {
        width: 100%;
        margin: 0 auto;
    }

    .franchise .why .title,
    .franchise .why .longtitle {
        font-size: 20px;
        max-width: 265px;
        margin: auto;
    }

    .franchise .why .longtitle {
        margin: 25px auto 40px;
    }

    .franchise .why .blocks {
        padding: 0 15px;
    }

    .franchise .why .blocks .block {
        width: 100%;
        margin: 0 auto 15px;
    }

    .franchise .why {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .franchise .why_corp .blocks .block:first-of-type,
    .franchise .why_corp .blocks .block {
        width: 100%;
        margin-bottom: 15px;
    }

    .franchise .why_corp .title {
        margin-top: 0;
        max-width: 220px;
        margin: 0 auto 25px;
    }

    /** --------------------- FRANCHISE end ---------------------**/

    /** --------------------- SECTIONS start ---------------------**/
    .sections .blocks {
        margin: 10px 0 0;
    }

    .sections .blocks .block {
        width: 100%;
        max-width: 450px;
        margin: 0 auto 15px;
    }

    .sections .blocks .block .hide {
        left: -185px;
        transform: translate(0, 0);
    }

    .sections .blocks .block .hide::before,
    .sections .blocks .block .hide::after {
        left: 174px;
        transform: translate(0, 0);
    }

    .sections .filters {
        margin: 0 30px 0 -9px;
        width: calc(100% + 17px);
    }

    .sections .filters a {
        margin: 0 9px 12px;
    }

    /** --------------------- SECTIONS end ---------------------**/

    /** --------------------- VACANCY start ---------------------**/
    .vacancy .tabs .tabs__caption {
        flex-wrap: wrap;
    }

    .vacancy .tabs .tabs__caption li {
        width: 100%;
        color: #000;
        font-size: 18px;
        padding: 13px 0;
    }

    .vacancy .tabs .tabs__caption li:first-of-type {
        order: 1;
        margin-top: 15px;
    }

    .vacancy .tabs .tabs__caption li.active {
        color: #000;
    }

    .vacancy .tabs .tabs__content .view-source a {
        font-size: 18px;
    }

    .vacancy .tabs .tabs__content {
        padding: 45px 0;
    }

    /** --------------------- VACANCY end ---------------------**/

    /** --------------------- PROGRAMS start ---------------------**/
    .programs .navig {
        width: calc(100% - 30px);
        border: 1px solid #e4e4e4;
        margin: 15px auto;
    }

    .programs .navig a {
        width: 100%;
        text-align: center;
    }

    .programs .blocks .block {
        flex-wrap: wrap;
        height: auto;
        padding: 35px 15px 70px;
        box-sizing: border-box;
    }

    .programs .blocks .block .text,
    .programs .blocks .block .img {
        width: 100%;
        justify-content: center;
    }

    .programs .blocks .block .img {
        min-height: 300px;
        background-position: center;
        background-size: 110%;
    }

    .programs .blocks .block:nth-of-type(2n+2) .img {
        order: initial;
        background-position: center;
    }

    .programs .blocks .block .text {
        background-color: initial;
        padding: 0;
        position: relative;
        margin-top: -30px;
    }

    .programs .blocks .block .text .group {
        text-align: center;
    }

    .programs .blocks .block .text .group .child li .inf {
        text-align: left;
    }

    .programs .blocks .block .text .title {
        font-size: 20px;
        list-style: 40px;
    }

    .programs .blocks .block .text a.title,
    .programs .blocks .block .text .group .child a {
        border-color: rgba(0, 0, 0, 0.4);
    }

    .programs .blocks .block .text .group .child a {
        font-size: 15px;
        line-height: 25px;
    }

    .programs .blocks .block .text .group .child li {
        align-items: center;
    }

    .programs .blocks .block:nth-of-type(2n+2) .text {
        justify-content: center;
    }

    .programs .blocks .block .text p {
        font-size: 15px;
        line-height: 25px;
        margin: 15px 0 0;
    }


    .programs-detail {
        margin-top: 23px;
    }

    .programs-detail .first-img {
        padding: 0;
    }

    .programs-detail .first-img:before {
        height: 0;
    }

    .programs-detail .first-img h1 {
        font-size: 30px;
        line-height: 30px;
        margin: 25px 0 0;
        padding: 0;
        text-align: center;
    }

    .programs-detail .main-text .types .block {
        width: 100%;
        margin-right: 0;
    }

    .programs-detail .main-text .types .block:not(:first-of-type) {
        margin-top: 15px;
    }

    .programs-detail .main-text .types .block:not(:last-of-type):not(:nth-of-type(3n+3)) {
        margin-right: 0;
    }

    .programs-detail .form_cb {
        position: relative;
    }

    .programs-detail .form_cb:before {
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        width: 15px;
        height: 100%;
        background-color: #f5f5f5;
    }

    .programs-detail .form_cb:after {
        content: '';
        position: absolute;
        right: -15px;
        top: 0;
        width: 15px;
        height: 100%;
        background-color: #f5f5f5;
    }

    .programs-detail .video p iframe {
        padding: 0;
        margin: 0;
        height: 215px;
    }

    /** --------------------- PROGRAMS end ---------------------**/

    /** --------------------- LK start ---------------------**/
    .lk {
        margin-bottom: 25px;
    }

    .lk h1 {
        font-size: 25px;
        line-height: 40px;
    }

    .lk .data {
        flex-wrap: wrap;
    }

    .lk .data .person {
        position: relative;
        width: 100%;
        flex-wrap: wrap;
    }

    .lk .data .pass {
        width: 290px;
        margin: 20px auto 0;
    }

    .lk .data .pass .chg-pass {
        max-width: 100%;
        margin-bottom: 0;
    }

    .lk .data .pass form {
        width: 100%;
        display: none;
        margin-top: 30px;
    }

    .lk .data .pass form.opened {
        display: block;
    }

    .lk .history .filter .options,
    .lk .history .filter {
        width: 100%;
        flex-wrap: wrap;
    }

    .lk .history .filter .options .year,
    .lk .history .filter .options .month,
    .lk .history .filter .options .year .jq-selectbox,
    .lk .history .filter .options .month .jq-selectbox {
        width: 100%;
    }

    .lk .history .filter .options .year p,
    .lk .history .filter .options .month p {
        width: 60px;
    }

    .lk .history .filter .options .year {
        margin-bottom: 7px;
    }

    .lk .history .filter .print {
        text-align: right;
        margin-left: auto;
        margin-top: 3px;
    }

    .lk .history .filter .print a span {
        display: none;
    }

    .lk .history .filter .print a:before {
        margin: 0;
    }

    .lk .history .table {
        margin: 10px 0;
    }

    .lk .history .table .line div:not(.name) {
        margin-right: 30px;
        min-width: initial;
    }

    .lk .history .table .line div.time {
        margin-right: 50px;
    }

    .lk .order-list {
        width: 100%;
    }

    .lk .order-list .group p:first-of-type {
        width: 10%;
    }

    .lk .order-list .group p:last-of-type {
        width: 37%;
    }

    .lk .order-list .group .wrapper.active p:first-of-type:after {
        width: 0;
    }

    .lk .order-list .group .hide .row {
        flex-wrap: wrap;
    }

    .lk .order-list .group .hide .row p:nth-of-type(1),
    .lk .order-list .group .hide .row p:nth-of-type(2),
    .lk .order-list .group .hide .row p:nth-of-type(3) {
        flex: initial;
    }

    .lk .order-list .group .hide .row p:nth-of-type(1) {
        width: 70%;
    }

    .lk .order-list .group .hide .row p:nth-of-type(3) {
        width: 30%;
    }

    .lk .order-list .group .hide .row p:nth-of-type(2) {
        width: 100%;
        order: 1;
    }

    .lk .status {
        flex-wrap: wrap;
    }

    .lk .status .wallet {
        width: 100%;
        position: relative;
        order: -1;
    }

    .lk .status .wallet:before {
        content: '';
        width: 15px;
        height: 100%;
        position: absolute;
        left: -15px;
        top: 0;
        background-color: #f5f5f5;
    }

    .lk .status .wallet:after {
        content: '';
        width: 15px;
        height: 100%;
        position: absolute;
        right: -15px;
        top: 0;
        background-color: #f5f5f5;
    }

    .lk .status .table {
        width: 100%;
    }

    .lk .status .table .body .group {
        flex-wrap: wrap;
        padding: 15px 25px;
    }

    .lk .status .table p {
        width: calc(100% / 3);
        padding: 0;
    }

    .lk .status .table p:nth-of-type(2) {
        text-align: right;
    }

    .lk .status .table p:last-of-type {
        width: 100%;
    }

    .lk .status .table p:not(:last-of-type) {
        font-family: 'Commissioner-Bold';
    }

    .lk .status .table .header {
        display: none;
    }

    .lk .card-list .block {
        width: 100%;
        flex-wrap: wrap;
        padding: 10px 0 30px 0;
    }

    .lk .card-list .block:last-of-type {
        margin-bottom: 0;
    }

    .lk .card-list .block .name,
    .lk .card-list .block .inf {
        width: 100%;
    }

    .lk .card-list .block .name p {
        font-size: 67px;
        transform: initial;
        writing-mode: initial;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .lk .card-list .block .inf {
        box-sizing: border-box;
        padding: 0 15px;
    }

    .lk .card-list .block .inf ul {
        flex-wrap: wrap;
        padding: 27px 0 13px;
        align-items: flex-start;
    }

    .lk .card-list .block .inf ul.group:not(:nth-of-type(2)) {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .lk .card-list .block .inf ul li:nth-of-type(1) {
        flex: initial;
        width: 50px;
        position: relative;
    }

    .lk .card-list .block .inf ul li:nth-of-type(1) img {
        position: absolute;
        left: 0;
        top: 0;
    }

    .lk .card-list .block.color2 .inf ul.header {
        display: none;
    }

    .lk .card-list .block .inf ul li:nth-of-type(2) {
        width: calc(100% - 50px);
        flex: initial;
        font-family: 'Commissioner-SemiBold';
        margin-bottom: 8px;
    }

    .lk .card-list .block .inf ul li:nth-of-type(3),
    .lk .card-list .block .inf ul li:nth-of-type(4) {
        flex: initial;
        width: calc(50% - 25px);
    }

    .lk .card-list .block .inf ul li:nth-of-type(3) {
        margin-left: 50px;
    }

    .lk .card-list .block .inf ul li:nth-of-type(3):before {
        content: 'посещено';
        display: block;
        font-size: 12px;
        line-height: 18px;
        font-family: 'Commissioner-SemiBold';
    }

    .lk .card-list .block .inf ul li:nth-of-type(4):before {
        content: 'остаток';
        display: block;
        font-size: 12px;
        line-height: 18px;
        font-family: 'Commissioner-SemiBold';
    }

    .lk .card-list .block .inf .mob-access {
        display: block;
        font-family: 'Commissioner-Bold';
        font-size: 15px;
        text-align: center;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 12px 0;
        margin: 30px 0 0;
    }

    .lk .card-list .block .inf .mob-access:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 5px;
        vertical-align: middle;
        margin-left: 15px;
        background: url("") center center / cover no-repeat;
    }

    .lk .card-list .block .inf .mob-access.active:after {
        transform: rotate(180deg);
    }

    .lk .card-list .block .inf .table {
        display: none;
        margin-bottom: -20px;
    }

    .lk .inf-print {
        position: relative;
        justify-content: center;
    }

    .lk .inf-print p a {
        position: absolute;
        top: -51px;
        right: -10px;
    }

    .lk .inf-print p a:before {
        margin-right: 0;
        padding: 0 10px;
    }

    .lk .inf-print p a span {
        display: none;
    }

    /** --------------------- LK end ---------------------**/

    .personal .filters {
        max-width: 345px;
        margin: 0 auto;
    }

    .personal .filters form {
        border: 0;
        padding: 0;
        flex-wrap: wrap;
        position: initial;
    }

    .personal .filters fieldset .select {
        margin: 20px 0 30px 0;
    }

    .personal .filters fieldset {
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }

    .personal .filters fieldset label span {
        margin: 0;
    }

    .personal .parent {
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 15px !important;
    }

    .personal .parent .left {
        width: 100%;
        text-align: center;
    }

    .personal .parent .left p {
        font-size: 45px;
        transform: rotate(0);
        writing-mode: initial;
        position: relative;
        left: 0;
        text-align: center;
        margin: auto;
        padding: 10px 0;
    }

    .personal .parent .right .block {
        width: 100%;
        padding: 25px 15px 20px 15px;
    }

    .personal .parent .right .block .title {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .personal .parent .right .block .inf {
        min-height: initial;
        text-align: center;
    }

    .personal .parent .right .info {
        padding: 7px 15px;
    }

    .personal .parent .right .info .add:before {
        position: initial;
        display: block;
        margin-bottom: 10px;
    }

    .personal .parent .right .block:only-of-type {
        margin: 0;
    }

    .personal .filters fieldset .select .jq-selectbox {
        width: 288px;
    }

}

@media (max-width: 719px) {
    .basket .order .person {
        margin-bottom: 15px;
    }
}