@media (min-width: 768px) and (max-width: 1199px) {

    html,
    body {
        width: 100%;
    }

    body {
        padding-bottom: 0;
        position: relative;
        min-height: initial;
        padding-top: 70px;
    }

    .wrap {
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;
    }

    .content {
        width: 670px;
    }

    .content p iframe {
        width: 768px;
        max-height: 395px;
        transform: translate(-50%, 0);
        margin: 40px 0 10px 50%;
    }

    .content p:last-of-type iframe {
        margin-bottom: 10px;
    }

    .content .fl {
        width: calc(100% + 50px);
    }

    .content .slider {
        width: 768px;
        margin: 40px auto;
    }

    .content p.footnotes {
        width: 720px;
        padding: 45px 60px;
    }

    .first-img .bg.mobil,
    .first-img .bg.main,
    .page_404 .bg.main {
        display: none;
    }

    .first-img .bg.table,
    .page_404 .bg.table {
        display: block;
    }

    .swiper-halls-detail {
        height: 400px;
    }

    .slider .swiper-button-next,
    .slider .swiper-container-rtl .swiper-button-prev,
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: 25px;
        left: auto;
    }

    .slider .swiper-button-prev,
    .slider .swiper-container-rtl .swiper-button-next,
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: 25px;
        right: auto;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px;
    }

    .first_pic .bg.table {
        display: block;
    }

    .first_pic .bg.mobil,
    .first_pic .bg.main {
        display: none;
    }

    .why {
        padding-bottom: 10px;
    }

    .why .title {
        text-align: center;
        margin-top: 35px;
    }

    .why .blocks {
        flex-wrap: wrap;
    }

    .why .blocks .block {
        width: calc(100% / 2 - 10px);
        margin-bottom: 20px;
    }

    .call_my {
        padding: 45px 0;
    }

    .form_cb {
        padding: 60px 0 80px;
    }

    .form_cb .title {
        font-size: 30px;
        line-height: 45px;
        margin: 0 auto 50px;
    }

    .filters fieldset label span {
        padding: 6px 15px;
    }

    .filters fieldset label input:checked+span::before {
        position: relative;
        top: 0;
        left: -2px;
        display: inline-block;
        margin-right: 5px;
    }

    .filters fieldset:not(:last-of-type) {
        padding-bottom: 3px;
    }

    .btn-more, .btn_more {
        margin: 5px auto 35px;
    }

    .modal {
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .modal .wrap {
        position: initial;
    }

    .modal.opened {
        top: 30px !important;
    }

    .modal .wrap .close {
        top: 70px;
        right: 23px
    }

    /** --------------------- MAIN start ---------------------**/
    header.index .top {
        background-color: #000;
    }

    header .top {
        z-index: 15;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #000;
    }

    header .top .wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 15px 25px;
    }

    header .top .wrapper .logo a {
        font-size: 20px;
    }

    header .top .wrapper .about-link,
    header .navigation {
        display: none;
    }

    header .top .wrapper .mob-menu {
        display: block;
        order: -1;
    }

    header .top .wrapper .mob-menu span {
        display: block;
        width: 17px;
        height: 2px;
        background-color: #fff;
        transition: .3s;
    }

    header .top .wrapper .mob-menu .cover {
        width: 27px;
        height: 26px;
        box-sizing: border-box;
        padding: 5px;
        position: relative;
        left: -5px;
    }

    header .top .wrapper .mob-menu .cover.opened span {
        height: 1px;
        background-color: #47d8d3;
        width: 22px;
        transition: .3s;
    }

    header .top .wrapper .mob-menu .cover.opened span:first-of-type {
        transform: rotate(45deg);
        position: relative;
        top: 8px;
        left: -3px;
    }

    header .top .wrapper .mob-menu .cover.opened span:nth-of-type(2) {
        display: none;
    }

    header .top .wrapper .mob-menu .cover.opened span:last-of-type {
        transform: rotate(135deg);
        position: relative;
        left: -3px;
        top: 2px;
    }

    header .top .wrapper .mob-menu span:not(:last-of-type) {
        margin-bottom: 5px;
    }

    header .top .wrapper .phone a {
        font-size: 16px;
    }

    header .slide_menu {
        top: 70px;
        height: calc(100% - 70px);
        width: 100%;
        right: -100%;
        padding: 25px 35px 0;
    }

    header .slide_menu .top {
        background-color: initial;
        position: initial;
        width: initial;
        padding: 0;
    }

    header .slide_menu .add,
    header .slide_menu .top .close {
        display: none;
    }

    header .slide_menu ul {
        margin: 0;
        padding: 0;
    }

    header .slide_menu .top a {
        line-height: 48px;
    }

    header .slide_menu ul .parent.active a:after {
        background: url("arrow-header-h.svg") center center / cover no-repeat;
    }

    header .slide_menu ul .parent.active a {
        color: #47d8d3;
    }

    header .slide_menu ul .parent.active ul {
        display: block;
    }

    header .slide_menu ul li ul {
        margin: 0 0 0;
        background-color: #eeeeee;
        position: absolute;
        width: 50%;
        left: initial;
        top: 0;
        right: 0;
        padding: 35px 65px;
        height: 100%;
        box-sizing: border-box;
        display: none;
    }

    header .slide_menu ul .parent.active ul li a {
        color: #000;
    }

    header .slide_menu ul li ul li a {
        line-height: 45px;
    }

    header.index:after {
        content: '';
        position: absolute;
        top: -45px;
        left: -50px;
        width: 126%;
        height: 120px;
        box-shadow: inset 0px 69px 27px 0px #000;
    }

    header.index .main-menu {
        display: none;
    }

    header .main-menu ul li a {
        font-size: 14px;
    }

    header .main-menu ul {
        width: 100%;
        box-sizing: border-box;
        padding: 0 25px;
    }

    header .main-menu ul li .child {
        top: 71px;
    }

    header .main-menu ul li .child ul li a {
        font-size: 12px;
    }

    header .main-menu ul li .child ul li:not(:last-of-type) {
        margin-right: 20px;
    }

    header .main-menu ul .parent a:after {
        margin-left: 7px;
        margin-bottom: 1px;
    }

    header .lk-menu ul {
        width: 100%;
        box-sizing: border-box;
        padding: 18px 25px;
        align-items: baseline;
    }

    header .lk-menu ul li a {
        font-size: 10px;
    }
    
    header .lk-menu ul li.logout a{
        font-size: 11px;
    }

    header .card-menu ul {
        padding: 24px 25px;
        box-sizing: border-box;
        justify-content: space-between;
    }

    header .card-menu ul li:not(:last-of-type) {
        margin-right: 0;
    }

    .baner {
        padding: 30px 0 54px 0;
        margin-top: 0;
        position: relative;
    }

    .baner .bg.main,
    .baner .bg.mobil {
        display: none;
    }

    .baner .bg.table {
        display: block;
    }

    .baner .wrap {
        z-index: 1;
    }

    .baner .time {
        font-size: 25px;
    }

    .baner.type1 .title {
        font-size: 40px;
    }

    .baner.type1 .title:before {
        height: 72px;
    }

    .baner .title {
        margin: 5px 0 75px 41px;
    }

    .baner .text {
        font-size: 32px;
        max-width: 360px;
    }

    .baner a {
        margin-top: 26px;
    }

    .baner.type2 .title {
        font-size: 60px;
        color: #de7bff;
        margin: 5px 0 75px 0;
    }

    .baner.type2 .inf {
        position: absolute;
        bottom: -107px;
        left: 0;
        padding: 0 25px;
    }

    .baner.type2 .inf p {
        font-size: 13px;
        line-height: 18px;
    }

    .slogan {
        padding: 60px 25px 70px;
    }

    .slogan p {
        font-size: 88px;
        text-align: center;
        line-height: 97px;
    }

    .slogan .mask {
        font-size: 90px;
        background-image: url("1-2.jpg");
        background-size: 1000px;
        background-position: -136px -223px;
    }

    .advantage .block {
        height: 355px;
    }

    .advantage .block .img,
    .advantage .block:nth-of-type(2n+2) .img {
        background-position: center;
    }

    .advantage .block .img .number::before {
        width: 0;
        margin: 0;
    }

    .advantage .block .img .number {
        right: 30px;
    }

    .advantage .block:nth-of-type(2n+2) .img .number {
        left: 30px;
    }

    .advantage .block .text span {
        font-size: 20px;
        line-height: 25px;
        font-family: 'Commissioner-Bold';
    }

    .advantage .block .text p {
        font-size: 15px;
        line-height: 25px;
        margin: 10px 0 25px;
    }

    .advantage .block .text {
        padding: 0 25px;
    }

    .reasons .title {
        margin: 105px auto 133px;
    }

    .reasons .blocks .wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
        flex-wrap: wrap;
    }

    .reasons .blocks .wrapper .block {
        width: calc(100% / 3 - 20px);
        margin-bottom: 30px;
    }

    .reasons .blocks .wrapper .block:nth-of-type(4),
    .reasons .blocks .wrapper .block:nth-of-type(5) {
        width: calc(100% / 2 - 15px);
        margin-bottom: 0;
    }

    .reasons .blocks .wrapper .block:nth-of-type(4) p,
    .reasons .blocks .wrapper .block:nth-of-type(5) p {
        line-height: 25px;
        width: 60%;
        margin-left: 85px;
    }

    .reasons .blocks .wrapper .block:nth-of-type(4) span,
    .reasons .blocks .wrapper .block:nth-of-type(5) span {
        margin-bottom: 10px;
    }

    .reasons .blocks .wrapper .block:nth-of-type(4) img,
    .reasons .blocks .wrapper .block:nth-of-type(5) img {
        top: 69px;
    }

    footer {
        position: initial;
        padding: 25px 0;
    }

    footer .wrap {
        position: relative;
    }

    footer .top {
        padding: 0 0 32px;
    }

    footer .top .logo {
        position: absolute;
        bottom: -2px;
        left: 25px;
    }

    footer .top .logo a {
        font-size: 15px;
    }

    footer .top ul {
        padding: 0;
    }

    footer .top ul li:not(:last-of-type) {
        margin-right: 25px;
    }

    footer .top ul li a {
        font-size: 13px;
    }

    footer .top .phone a {
        font-size: 15px;
    }

    footer .top .social {
        display: flex;
        align-items: center;
    }

    footer .top .social a:not(:last-of-type) {
        margin-right: 35px;
    }

    footer .bottom a:first-of-type {
        margin: 0 60px 0 225px;
    }
    footer .bottom span a:first-of-type, footer .bottom span{
        margin: 0;
    }

    /** --------------------- MAIN end ---------------------**/

    /** --------------------- 404 start ---------------------**/
    .page_404 {
        padding: 134px 0 225px;
    }

    /** --------------------- 404 end ---------------------**/

    /** --------------------- BASKET start ---------------------**/
    .basket h1 {
        text-align: center;
    }

    .basket .alert span {
        max-width: 500px;
    }

    .basket .cart {
        flex-wrap: wrap;
        margin-bottom: -80px;
    }

    .basket .cart .table,
    .basket .cart .cost {
        width: 100%;
    }

    .basket .cart .cost {
        margin-top: 30px;
    }

    .basket .cart .table .line .group .name {
        flex: 6;
    }

    .basket .order .payment {
        padding: 22px 60px 18px;
    }

    .basket .order .person {
        order: -1;
    }

    .person {
        position: relative;
        padding: 56px 30px 24px;
    }

    .basket .order {
        padding-top: 69px;
        margin-bottom: -80px;
    }

    .person .left {
        width: 100%;
        position: absolute;
        top: -69px;
        left: 0;
        text-align: center;
    }

    .person .right {
        width: 100%;
    }

    .person .right .name {
        text-align: center;
    }

    /** --------------------- BASKET end ---------------------**/

    /** --------------------- CARD start ---------------------**/
    .card .service {
        margin: 25px 0 25px;
    }

    .card .service ul {
        width: calc(100% + 30px);
        margin-left: -5px;
    }

    .card .service ul li {
        width: calc(100% / 4 - 15px);
        margin: 18px 5px 0;
        font-size: 13px;
        line-height: 15px;
        min-height: 60px;
        font-family: 'Commissioner-Bold';
        padding: 0 20px;
    }

    .card .service ul li:nth-of-type(6n+6) {
        margin: 18px 5px 0;
    }

    .card .blocks .block {
        flex-wrap: wrap;
        padding: 25px 30px 35px;
    }

    .card .blocks .block .access {
        width: 100%;
        padding-left: 60px;
        box-sizing: border-box;
        margin-top: 30px;
    }

    .card .blocks .block .name {
        align-items: flex-start;
        width: 60px;
    }

    .card .blocks .block .name p {
        font-size: 40px;
        left: -12px;
    }

    .card .blocks .block .order {
        width: calc(100% - 60px);
    }

    .card .blocks .block .order .inf {
        max-width: initial;
        width: 100%;
    }

    .card .blocks .block .order form {
        position: relative;
    }

    .card .blocks .block .order .duration {
        position: absolute;
        left: 235px;
        top: -7px;
    }

    .card .blocks .block .order .price {
        margin: 13px 0 25px;
    }

    .card .blocks .block .order .price i {
        left: 0;
    }

    .card .blocks .block .access .table .inf p span i span {
        left: -265px;
        transform: translate(0, 0);
    }

    .card .blocks .block .access .table .inf p span i span::before,
    .card .blocks .block .access .table .inf p span i span::after {
        left: 257px;
        transform: translate(0, 0);
    }

    /** --------------------- CARD end ---------------------**/

    /** --------------------- CONCEPT start ---------------------**/
    .concept .main-img {
        padding: 1px 0 110px;
    }

    .concept .main-img .inf h1 {
        font-size: 45px;
        line-height: 65px;
    }

    .concept .main-img .inf {
        padding: 0 25px;
        max-width: 605px;
        margin-top: 50px;
    }

    .concept .main-img .inf img {
        max-width: 270px;
    }

    .concept .slider h3 {
        font-size: 30px;
        margin: -25px auto 45px;
    }

    .concept .swiper-halls-detail:after {
        height: 0;
    }

    /** --------------------- CONCEPT end ---------------------**/

    /** --------------------- CONTACT start ---------------------**/
    .contact .inf p {
        min-height: 19px;
    }

    .contact .inf h1 {
        margin-top: 30px;
    }

    .contact form .title {
        margin-top: 75px;
    }

    .form_cb form,
    .contact form {
        width: 330px;
        padding-left: 25px;
    }

    .contact .blocks .inf,
    .contact .blocks .form {
        padding-bottom: 65px;
    }

    .contact #map {
        height: 630px;
    }

    /** --------------------- CONTACT end ---------------------**/

    /** --------------------- EDU CENTER start ---------------------**/
    .t-center .swiper-halls-detail:after {
        height: 0;
    }

    .t-center .swiper-slide span {
        font-size: 40px;
        line-height: 55px;
    }

    .t-center .certificate {
        width: 670px;
        padding: 60px 0 60px;
    }

    .t-center .certificate .img img {
        max-width: 195px;
    }

    .t-center .certificate .text {
        width: 335px;
    }

    .t-center .certificate .text p {
        font-size: 15px;
        line-height: 25px;
    }

    .t-center .b-with-bg {
        padding: 60px 25px 45px;
    }

    .b-with-bg .blocks {
        flex-wrap: wrap;
    }

    .t-center .b-with-bg .block {
        width: calc(100% / 2 - 15px);
        margin-bottom: 30px;
        padding: 20px 45px 48px;
    }

    .t-center .courses {
        padding: 53px 0 35px;
        box-sizing: border-box;
    }

    .t-center .courses h3 {
        font-size: 30px;
        line-height: 35px;
        max-width: 450px;
    }

    .t-center .courses .blocks {
        flex-wrap: wrap;
        max-width: 670px;
        margin: auto;
    }

    .t-center .courses .blocks .block {
        width: calc(100% / 2 - 15px);
        height: 320px;
    }

    .t-center .courses .blocks .price {
        width: 100%;
        margin-top: 40px;
    }

    .t-center .courses .blocks .price p strong br:nth-of-type(2) {
        display: none;
    }

    .t-center .courses .blocks .price p:not(:last-of-type) {
        margin: 0 0 20px;
    }

    .t-center .courses .blocks .price .cost {
        margin: 20px 0;
    }

    .t-center .contact .blocks .inf,
    .t-center .contact .blocks .form {
        padding-bottom: 48px;
    }

    .t-center .contact {
        border-bottom: 2px solid #fff;
    }

    /** --------------------- EDU CENTER end ---------------------**/

    /** --------------------- CORP start ---------------------**/
    .corporations .first_pic {
        box-sizing: border-box;
        height: 490px;
    }

    .corporations .first_pic .text {
        max-width: 530px;
        text-align: center;
        margin: -30px auto 0;
    }

    .corporations .first_pic p {
        font-size: 30px;
        line-height: 40px;
        display: inline-block;
    }

    .why_corp {
        padding: 45px 0 25px;
    }

    .why_corp .title {
        text-align: center;
    }

    .why_corp .blocks .block {
        width: calc(100% / 3 - 15px);
        padding: 25px;
    }

    .why_corp .blocks .block .title {
        line-height: 24px;
        text-align: left;
    }

    /** --------------------- CORP end ---------------------**/

    /** --------------------- HALLS start ---------------------**/
    .halls .blocks .block {
        width: calc(100% / 2 - 10px);
        height: calc(50vw - 20px);
    }

    .halls .blocks {
        margin-bottom: 0;
    }

    .halls-detail h1,
    .t-center h1 {
        font-size: 30px;
        text-align: center;
        margin-top: -18px;
    }

    .halls-detail .types .tables p {
        width: calc(50% - 40px);
    }

    .halls-detail .b-with-bg {
        padding: 45px 0 55px;
    }

    .halls-detail .b-with-bg .title {
        margin: 0 0 40px;
    }

    .halls-detail .b-with-bg .blocks .block {
        width: calc(100% / 3 - 13px);
    }

    .halls-detail .b-with-bg .blocks .block:nth-of-type(4),
    .halls-detail .b-with-bg .blocks .block:nth-of-type(5) {
        width: calc(100% / 2 - 10px);
        margin-top: 20px;
    }

    /** --------------------- HALLS end ---------------------**/

    /** --------------------- NEWS start ---------------------**/
    .news .news-blocks .block {
        width: calc(100% / 2 - 30px);
    }

    .news .news-blocks {
        width: calc(100% + 30px);
        margin: 0 auto;
    }

    .news .news-blocks .block {
        margin-left: 0;
        margin-right: 0;
    }

    .news .news-blocks .block:nth-of-type(2n+1) {
        margin-right: 30px;
    }

    .news-detail .first-img h1 {
        margin: 75px auto 20px;
    }

    .news-detail .first-img {
        padding: 1px 0 137px;
    }

    .news-detail .first-img .bg.table {
        display: block;
    }

    .news-detail .first-img .bg.main {
        display: none;
    }

    .news-detail .first-img:before {
        height: 0;
    }

    .news-detail .swiper-button-prev,
    .news-detail .swiper-button-next {
        margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    }

    /** --------------------- NEWS end ---------------------**/

    /** --------------------- FRANCHISE start ---------------------**/
    .franchise .first-img img {
        max-width: 300px;
    }

    .franchise .first-img p {
        max-width: 670px;
    }

    .franchise .why {
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;
    }

    .franchise .why .blocks .block {
        width: calc(100% / 2 - 10px);
    }

    .franchise .why .blocks .block p {
        font-size: 18px;
        line-height: 30px;
    }

    .franchise .why .title {
        margin-top: 55px;
    }

    .franchise .why_corp .blocks .block {
        width: calc(100% / 2 - 10px);
        margin-bottom: 20px;
    }

    .franchise .why_corp .blocks .block:first-of-type {
        width: 100%;
    }

    .franchise .why_corp .title {
        margin-top: 0;
    }

    .franchise .why_corp {
        padding: 45px 0 5px;
    }

    /** --------------------- FRANCHISE end ---------------------**/

    /** --------------------- PERSONAL TRAINING start ---------------------**/
    .personal .filters form {
        justify-content: space-between;
    }

    .personal .parent {
        flex-wrap: wrap;
        padding: 0 25px;
        box-sizing: border-box;
        margin-bottom: 22px !important;
    }

    .personal .parent .left {
        width: 100%;
        text-align: center;
    }

    .personal .parent .left p {
        font-size: 45px;
        transform: rotate(0);
        writing-mode: initial;
        position: relative;
        left: 0;
        text-align: center;
        margin: auto;
        padding: 10px 0;
    }

    .personal .parent .right .block {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .personal .parent .right .block .wrapper,
    .personal .parent .right .block form {
        width: calc(100% / 2 - 25px);
    }

    .personal .parent .right .block .inf {
        min-height: initial;
    }

    .personal .parent .right .info {
        padding-left: 34px;
    }

    .personal .parent .right .info .add:before {
        padding: 2px 0 0 0;
    }

    .personal .parent .right .block:only-of-type {
        margin-right: 0;
    }

    /** --------------------- PERSONAL TRAINING end ---------------------**/

    /** --------------------- LK start ---------------------**/
    .lk {
        margin-bottom: 50px;
    }

    .lk h1 {
        text-align: center;
    }

    .lk .data {
        width: 670px;
        margin: 97px auto 0;
        align-items: initial;
    }

    .lk .data .person {
        width: 50%;
    }

    .lk .data .pass {
        width: calc(50% - 90px);
    }

    .lk .data .person .right .cont p {
        width: 45%;
    }

    .lk .data .pass form .form-group {
        margin-bottom: 10px;
    }

    .lk .data .pass form button {
        margin-bottom: 0;
    }

    .lk .history {
        max-width: 100%;
    }

    .lk .history .filter {
        justify-content: center;
        position: relative;
        max-width: 718px;
        margin: 0 auto;
    }

    .lk .history .filter .print {
        position: absolute;
        right: 0;
        top: 5px;
    }

    .lk .history .filter .print a span {
        display: none;
    }

    .lk .history .table {
        max-width: 718px;
        margin: 30px auto;
    }

    .lk .history .table .line div:not(.name) {
        margin-right: 115px;
    }

    .lk .history .table .line .name {
        margin-left: 65px;
    }

    .lk .card-list .block {
        width: 670px;
        margin: 0 auto;
    }

    .lk .card-list .block:not(:last-of-type) {
        margin-bottom: 25px;
    }

    .lk .order-list {
        width: 718px;
        margin: 0 auto -49px;
    }

    .lk .order-list .group {
        border-bottom: none;
        border-top: 1px solid #e4e4e4;
    }

    .lk .order-list .group .hide {
        padding: 30px 25px;
    }

    .lk .order-list .group .hide .row p:nth-of-type(1) {
        flex: none;
        width: 54%;
    }

    .lk .order-list .group .hide .row p:nth-of-type(2) {
        flex: none;
        width: 31%;
    }

    .lk .order-list .group .hide .row p:nth-of-type(3) {
        flex: none;
        width: 13%;
    }

    .lk .status {
        margin-bottom: -40px;
    }

    .lk .status .table,
    .lk .status .wallet {
        width: calc(100% / 2 - 15px);
    }

    .lk .status .table .header p {
        padding: 6px 0;
    }

    .lk .status .table p {
        padding: 25px 0;
    }

    .lk .status .table p:nth-of-type(1) {
        width: 30%;
        padding-left: 25px;
    }

    .lk .status .table p:nth-of-type(2) {
        width: 20%;
    }

    .lk .status .table p:nth-of-type(3) {
        width: 40%;
    }

    .lk .inf-print {
        position: relative;
        justify-content: center;
    }

    .lk .inf-print p a {
        position: absolute;
        top: -60px;
        right: -10px;
    }

    .lk .inf-print p a:before {
        margin-right: 0;
        padding: 0 10px;
    }

    .lk .inf-print p a span {
        display: none;
    }

    /** --------------------- LK end ---------------------**/

    /** --------------------- PROGRAMS start ---------------------**/
    .programs .navig {
        width: 670px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .programs .navig a {
        width: calc(50% - 30px);
    }

    .programs .blocks .block {
        height: 355px;
    }

    .programs .blocks .block .img,
    .programs .blocks .block:nth-of-type(2n+2) .img {
        background-position: center;
    }

    .programs .blocks .block .text {
        padding: 0 30px;
    }

    .programs .blocks .block .text p {
        font-size: 15px;
        line-height: 20px;
        margin: 10px 0;
    }

    .programs .blocks .block .text p br {
        display: none;
    }

    .programs .blocks .block .text .title {
        font-size: 20px;
        line-height: 30px;
    }

    .programs .blocks .block:nth-of-type(2) .text span.title {
        margin-left: 46px;
    }

    .programs .blocks .block .text .group {
        width: 324px;
        max-width: initial;
    }

    .programs .blocks .block:nth-of-type(2n+2) .text .group {
        padding-left: 25px;
        box-sizing: border-box;
    }

    .programs .blocks .block .text .group .child li:not(:first-of-type) {
        margin-top: 5px;
    }

    .programs .blocks .block .text .group .child li:first-of-type {
        margin-top: 15px;
    }

    .programs .blocks .block .text .group .child li p {
        display: none;
    }

    .programs .blocks .block .text .group .child a {
        font-size: 15px;
        line-height: 20px;
    }

    .programs-detail .first-img h1 {
        text-align: left;
    }

    .programs-detail .main-text .types {
        margin: 50px 0 0;
    }

    .programs-detail .main-text .types .block {
        width: 670px;
        margin: 0 auto;
    }

    .programs-detail .main-text .types .block:not(:last-of-type) {
        margin-bottom: 20px;
    }

    .programs-detail .main-text .types .block:not(:last-of-type):not(:nth-of-type(3n+3)) {
        margin-right: auto;
    }

    .programs-detail .form_cb {
        position: relative;
    }

    .programs-detail .form_cb:before {
        content: '';
        position: absolute;
        left: -25px;
        top: 0;
        width: 25px;
        height: 100%;
        background-color: #f5f5f5;
    }

    .programs-detail .form_cb:after {
        content: '';
        position: absolute;
        right: -25px;
        top: 0;
        width: 25px;
        height: 100%;
        background-color: #f5f5f5;
    }

    .programs-detail .video p iframe {
        height: 470px;
        width: calc(100% + 50px);
        position: relative;
        left: -25px;
        margin: -20px 0;
    }

    /** --------------------- PROGRAMS end ---------------------**/

    /** --------------------- SECTIONS start ---------------------**/
    .sections .blocks .block,
    .sections .blocks .empty {
        width: calc(100% / 2 - 10px);
    }

    /** --------------------- SECTIONS end ---------------------**/

    /** --------------------- THX start ---------------------**/
    .page_404 {
        padding: 260px 0 140px;
    }

    /** --------------------- THX end ---------------------**/

    /** --------------------- VACANCY start ---------------------**/
    .vacancy .tabs .tabs__content {
        padding: 24px 0 40px;
    }

    .vacancy .tabs .tabs__caption li {
        color: #000;
        font-size: 18px;
        width: calc(100% / 2 - 15px);
        padding: 13px 0;
    }

    .vacancy .tabs .tabs__caption li.active {
        color: #000;
    }

    /** --------------------- VACANCY end ---------------------**/
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .programs .navig a {
        width: calc(100% / 3 - 15px);
    }

    .programs .navig {
        width: calc(100% - 50px);
    }
}